[2015-05-13 04:40] geekyme opened #1 "Module build failed"
Hello, I followed your instructions and added the required plugin webpack config to my karma config:

[code]

However, when i run ```karma start```, I am getting these errors:

[code]

[2015-05-13 07:09] speedskater commented on #1
Thanks for reporting the bug. I think this was an issue with conflicting babel versions. Therefore I switched the plugin dependency to babel core to use peer dependencies. Please update the babel-plugin-rewire to version 0.1.1 and let me know if this fixes the issue for you.

[2015-05-13 07:09] #1 closed

[2015-05-13 07:09] kossnocorp commented on #1
@geekyme you have two different babel-core versions in your app, check: `npm ls babel-core`.

[2015-05-13 22:41] girvo opened #4 "Issue with a stray 'var' appearing in the export"
Hey there,

Well done on the plugin! I've come across a bug, when wiring the plugin into Babel, then attempting to use it with my unit tests.

The class I'm using is this one:

[code]

And the error is as follows:

[code]

And I've traced the error to this line in the plugin:

[code]

But I don't know enough about Babel's AST to fix it. Any ideas?

[2015-05-13 23:40] DelvarWorld opened #5 "TypeError: Filename must be a string"
I'm not sure what's causing this yet. I will close this bug if it turns out to be our fault. I included the babel rewire plugin in our webpack config:

    babel-loader?plugins=rewire&optional=runtime

When I run webpack (building our test bundle), I get:

    ERROR in vendors.js
    Module build failed: TypeError: Filename must be a string

The content of vendors.js aren't anything exciting:

[2015-05-13 23:46] DelvarWorld commented on #5
I lied, this error is coming from the rewire plugin, not this plugin

[2015-05-14 00:25] DelvarWorld commented on #5
Well, I lied again. this error only seems to happen if I include this plugin. Still investigating...

[2015-05-14 12:03] speedskater commented on #4
Thanks for reporting the issue.
It should be fixed in version 0.1.3. Let me know if it works for you.
Furthermore in the example you provided you will have to change import 'isomorphic-fetch' to
import fetch from 'isomorphic-fetch' to be able to mock the fetch api.

[2015-05-14 12:03] #4 closed

[2015-05-14 12:06] speedskater commented on #5
Might it be possible that you use rewire.js and babel-plugin-rewire together? If this is the case can you check whether the error remains if you change babel-loader?plugins=rewire&optional=runtime to
babel-lodaer?plugins=babel-plugin-rewire

[2015-05-14 17:23] DelvarWorld commented on #5
I changed it to `loader: 'babel-loader?plugins=babel-plugin-rewire'`. Webpack gives the warning (followed by lots of errors in rewire):

    WARNING in ./~/rewire/lib/moduleEnv.js
    require.extensions is not supported by webpack. Use a loader instead.

What do you mean using rewire.js along with the plugin? We do this in plenty of places in the code:

    let rewire = require('rewire');

Sorry f

[2015-05-14 18:00] DelvarWorld commented on #5
Tested in a blank project, simply adding this line:

    var rewire = require('rewire');

Triggers the errors/warnings:

    WARNING in ./~/rewire/lib/moduleEnv.js
    require.extensions is not supported by webpack. Use a loader instead.

    WARNING in ./~/rewire/lib/moduleEnv.js
    Module not found: Error: Cannot resolve module 'coffee-script' in node_modules/rewire/lib
    @ ./~/rewire/lib/mod

[2015-05-14 20:55] DelvarWorld commented on #5
Something is conflicting somewhere with babel and rewire. In the large project, what's getting built to the bundle is:

    exports['default'] = _Object$assign(var MyReactClass = (function (_React$Component) {

which throws the error `Unexpected token var` in the webpack build step. It looks like turning ES6>ES3 is getting wtrapped in a rewire statement, but the syntax produced is wrong. I cannot

[2015-05-14 21:34] speedskater commented on #5
Have you tried the latest version (0.1.3) of babel-plugin-rewire this should fix the problem with the wrapping of the default export

[2015-05-14 21:56] DelvarWorld commented on #5
Phew, ok, looks like using the explicit name and the newest version works.

[2015-05-14 21:56] #5 closed

[2015-05-29 07:54] geekyme opened #8 "How to use this plugin with karma?"
my config:

[code]

when i do that, then i get the following error:

[code]

The error goes away if i remove ```plugins=babel-plugin-rewire``` from ```loaders: ["babel?plugins=babel-plugin-rewire"]```

[2015-05-29 09:36] geekyme commented on #8
Turns out I had to enable babel runtime http://babeljs.io/docs/usage/runtime/. might want to document that in readme. :)

[2015-05-29 09:36] #8 closed

[2015-05-29 10:42] geekyme opened #9 "Plugin does not stub higher order components"
Say I have a custom FormattedMessage component with the following contents:

[code]

connectToIntlStore simply wraps the default ```FormattedMessage``` component from ```react-intl``` and returns a new component.

Afterwards I have a new component that depends on FormattedMessage

[code]

In my spec I require ```LoginForm```:

[code]

This will then break with the following error which should neve

[2015-05-29 11:02] speedskater commented on #9
Thank you for submitting this issue. Could you please post the code of the higher-order component?

[2015-05-29 11:04] geekyme commented on #9
[code]

Here u go @speedskater

[2015-06-02 07:50] speedskater commented on #9
Sorry for the delay. I just tried to reproduce your error but i was not able to reproduce it.
I attached the exact content of the files I used.
If there isn't any difference between yours and mine code could you please provide a minimal self contained sample project which allows to reproduce your issue?

HigherOrderFormattedMessage:

[code]

ConnectToIntlStore:

[code]

LoginForm:

[code]

LoginFo

[2015-06-04 16:09] citelao commented on #1
I don't think removing the dependencies fixed the issue. I get the same issue with everything up to date.

[code]

[2015-06-05 08:38] geekyme commented on #9
thanks @speedskater this is resolved now. I realized I was adding a redundant line for "__ResetDependency__" when following the README https://github.com/speedskater/babel-plugin-rewire#test-code

After removing that line from my code it all works

[2015-06-05 08:38] #9 closed

[2015-06-05 11:50] malonecj commented on #1
I'm also having the same problem. babel-loader has a local version of babel-core in its node_modules folder which I think could be causing the issue

Here are all the babel refs I have in my package.json

[code]

here are the different versions of babel-core when I run ```npm list babel-core```
![image](https://cloud.githubusercontent.com/assets/1432798/8005314/97ca722c-0b80-11e5-9d1a-6e7bbe62063c

[2015-06-08 18:02] citelao commented on #1
Any change?

[2015-06-09 07:24] speedskater commented on #1
Might it be possible that you installed babel-core after babel-loder into your project. If you have both babel-loader as well as babel-core as a root dev dependency babel-loader will use babel-core as a peer dependenc. Hence, only one babel-core will be included.

I used the following dev dependencies:

[code]

and  npm list resulted in the following output.

[code]

Maybe just delete your babel-l

[2015-06-09 13:57] citelao commented on #1
I only get issues if I have `babel` installed— using `babel-core` generates a different error (I think on Babel's end), and using `babel-core` with `babel` generates the same error.

Don't really have time to look at this issue more atm, but your tip was helpful.

[2015-06-09 16:02] geekyme opened #10 "can't run test because of version incompatibility"
Got this error:
[code]

my babel versions `npm ls babel-core`

[code]

[2015-06-09 16:32] geekyme commented on #10
when i uninstalled everything and reinstalled again, i get a new set of errors:

[code]

[2015-06-09 16:33] geekyme commented on #10
https://github.com/babel/babel/issues/1315

[2015-06-10 17:39] damassi commented on #10
@speedskater - this just happened to me as well.  Commenting out the plugin fixed the problem.

[2015-06-10 22:37] speedskater commented on #10
This was an issue with renaming of variables. After using the babel scope api the issue should be fixed.
Therefore a new version containing the fix was published (0.1.4).

@damassi, @geekyme let me know if this solves your issues.

[2015-06-10 22:37] #10 closed

[2015-06-11 02:13] geekyme commented on #10
it fixes this issue but created a new problem

[2015-06-11 02:15] Rodeoclash commented on #10
Can you post more details? I'm in the process of upgrading now but haven't noticed any problems yet.

[2015-06-11 02:19] geekyme opened #11 "rewire is not mocking things"
Getting a whole bunch of errors now.

[code]

[code]

and many more errors.

I am simply doing this at the start of my test:

[code]

the intlStore.getState shouldn't even be called. On 1.3 it works.

[2015-06-11 02:20] geekyme commented on #10
https://github.com/speedskater/babel-plugin-rewire/issues/11

[2015-06-11 05:26] speedskater commented on #11
You are right. Late night fixes are maybe not the best. I created a new regression. Version 0.1.3 should be okay, but 0.1.4 is definitively broken. I will try to fix it asap.

[2015-06-11 05:27] speedskater commented on #10
@Rodeoclash 0.1.4 is definitively broken. I wouldn't upgrade to this version.

[2015-06-11 05:55] speedskater commented on #11
there is a new version 0.1.5. It should be a workaround around the Cannot read property 'start' of undefined and reintroduce the correct behaviour.

[2015-06-11 05:55] #11 closed

[2015-06-11 06:44] speedskater commented on #10
@Rodeoclash 0.1.5 should be safe again.

[2015-06-12 18:42] bsr203 commented on #10
Hi, did the original issue solved. I get error
[code]
versions

[code]

[2015-06-12 18:50] damassi commented on #10
@bsr203 - delete your node modules, then reinstall all rewire related libraries.  That should fix the problem.

[2015-06-12 20:41] bsr203 commented on #10
@damassi thanks for the help. I tried everything, and seems like this is the issue.
https://github.com/babel/babel-loader/pull/58
I use webpack babel-loader :-(

I has dependency on older version

looks like the plugin api is changed and should use `babel` directly

http://babeljs.io/docs/advanced/plugins/

[2015-06-13 01:39] bsr203 opened #12 "access to singleton class method"
Hello,

Is it possible to get access to methods of an exported class. In my case a singleton `flux` store, something like.

[code]

the super class method `getInstance()` returns a singleton instance.

now, is there a way get hold of `handleAction` in my test file. Something along the lines of

[code]

when I tried I get error

[code]

I could probably export these private method to a public varia

[2015-06-13 01:50] bsr203 commented on #12
closing this, as I can just call `TestStore.handleAction()` directly. I had the impression only things assigned to `this` explicitly in the constructor is considered public.

[2015-06-13 01:50] #12 closed

[2015-06-16 10:35] malonecj opened #13 "Support rewire of private variables"
rewire-webpack allows you to leak private variables and override variables within a module, not just the external module dependencies. This can be often useful for testing.

Is this something that might be possible in babel-plugin-rewire?

[2015-06-17 15:56] geekyme commented on #10
thanks guys can confirm that this is now working again on 0.1.5

[2015-06-19 09:24] Jpunt commented on #8
@geekyme: Where and how did you enable the babel runtime?

[2015-06-19 09:27] longfin commented on #8
@Jpunt https://github.com/babel/babel-loader#babel-is-injecting-helpers-into-each-file-and-bloating-my-code

[2015-06-19 09:28] Jpunt commented on #8
thanks!

[2015-06-23 09:32] Jpunt opened #14 "Nested modules"
It seems that rewiring a module does not isolate nested dependencies. I've got this structure:

[code]

The `CdnImageComponent` has logic to figure out what resolution we need in this particular case. The thing is, that shouldn't matter when testing `BodyComponent`. I rewire `TextComponent` and `ImageComponent` like this:

[code]

When I run this I get this exception:

[code]

The error references

[2015-06-23 12:31] Jpunt commented on #14
I think I've figured it out and it does not seem to be an babel-plugin-rewire-issue directly. For those interested: I'm working on an isomorphic project and to have one single source of configuration i've got this module:

[code]

Even though I wasn't requiring this directly in the modules that I was testing, it was failing on `config = window.config;`. I've changed this to `config = window.config

[2015-06-24 04:07] girvo commented on #13
:+1: I'd love this

[2015-06-24 06:40] speedskater commented on #13
I will have a look into this (will take till the weekend till I have time) but I would restrict it to top level variables.

[2015-06-28 09:47] nikolaymatrosov commented on #1
Runnig `npm dedup` has solved the issue for me.

[2015-07-15 06:39] speedskater commented on #14
Thanks @Jpunt for figuring this out.

[2015-07-15 06:39] #14 closed

[2015-07-16 12:13] speedskater commented on #13
Thanks @peet for fixing this issue.

[2015-07-16 12:13] #13 closed

[2015-07-17 05:36] bulkan opened #16 "Doesnt seem to work with karma and webpack"
When I enable babel-plugin-rewire I get errors in JSX compilation.

I've tried the fixes mentioned in [this](https://github.com/speedskater/babel-plugin-rewire/issues/8) issue, enabling babel-runtime but this creates more errors.

Any ideas ?

[code]

[2015-07-17 06:21] speedskater commented on #16
Could you please provide more information and a small example replicating your issue?
What kind of errors do you get?

[2015-07-17 09:11] maxkolyanov opened #17 "Err: 'rewire' is resolving to different Babel version"
Getting an error when performing simple rewire inside of karma test
`TypeError: Plugin "rewire" is resolving to a different Babel version than what is performing the transformation.`

The list for babel-core looks as follows, they all seem to use 5.7.4, confused how could it possibly in any way resolve to different versions of babel
[code]

[2015-07-17 20:46] speedskater commented on #16
Could you please check version 0.1.7 as this should fix some regressions which happened at the transition to 0.1.6.

[2015-07-18 06:47] bulkan commented on #16
Thanks for that I'm getting the following error now;

[code]

[2015-07-18 07:13] speedskater commented on #16
Thanks I will have a look into this issue. Could you please attach a sample file causing this problem.

[2015-07-18 07:16] bulkan commented on #16
That component is part of a bigger application not sure I can distill it into a smaller chunk but [here](https://gist.github.com/bulkan/6f7cf6b4e7037d9c2acd) is the component code

[2015-07-18 08:07] speedskater commented on #16
Thanks I will have look at it. Will take till tomorrow.

[2015-07-19 15:28] speedskater commented on #16
@bulkan Version 0.1.8 should fix your problem. The issue was cause by the destructuring assignment in line 10 of your code. For now i changed babel-plugin-rewire to ignore destructuring assignments. If you want to rewire this variables you have to create separate variables. Let me know if this fix solved your issue or if there are still issues.

[2015-07-19 19:11] bultas opened #18 "problem with for(var key in obj) {...}"
if i use your plugin with webpack configuration: `babel-loader?plugins=rewire`
and in my code is:

`for (var key in obj) {...}`

i get:

*Module build failed: Error: /Users/.../findInObj.js: We don't know what to do with this node type. We were previously a Statement but we can't fit in here?* error message

[2015-07-20 19:51] seanepping commented on #16
I am having an issue with the newest version (0.1.8, I have also tried 0.1.7).  When I call __Rewire__ on a module, it doesn't actually set the value.  I followed through in a debugger and verified that on calls to _$Setters__ and __$Getters__ it was calling __$Resetters__, although they appear to be defined correctly in the file.  These worked fine before the update to Babel and in 0.1.6,  is the

[2015-07-21 07:28] speedskater commented on #16
Thanks for the report. Can you send me the module you tried to rewire and the code you use to rewire this module? I will try to reproduce your issue and distill a unit test from it so we can solve this annoyance for you.

[2015-07-21 14:52] seanepping commented on #16
Here is the module I was mocking
[code]

Here is the dependency
[code]

And here is the test
[code]

I added the expectations on GetDependency to show that they are getting the undefined return of $Resetters, and they fail as expected for me.  I am loading tests through karma as follows:

[code]

Webpack and karma configs are as follows:

[code]

[code]

[2015-07-21 19:09] speedskater commented on #16
Thanks for the detailed error description. I will try to fix your issue on thursday.

[2015-07-22 04:34] bsr203 opened #19 "spy a function from a required module"
I had raised this issue originally here https://github.com/prometheusresearch/webtest/issues/7

But, I found that the test work fine if I don't use babel-rewire

Basically, just trying to spy on a dependent function like

dependency.js
--
[code]
main.js
--
[code]
main.spec.js
--
[code]

webpack conf

[code]

the test fails if `rewire` enabled in the above config.

[2015-07-22 09:20] vnovick commented on #18
Getting the same error.

This is my example code:

[code]

### package.json
[code]

### karma webpack configuration

[code]

And this is the error I get:

[code]

Will appreciate the fix or if you can point where I can fix that will appreciate and fix.

[2015-07-22 15:15] speedskater commented on #16
The issue that your test is not working is caused by correct usage of TDZ due to the setting of es6.spec.blockScoping.
If you remove es6.spec.blockScoping from the optional section in your webpack config it should work.
I investigate whether i can change the plugin in such a way that it also works if es6.spec.blockScoping is enabled.

[2015-07-22 15:33] seanepping commented on #16
Oh that makes sense, thanks for looking into it.  I will keep watching to see if you enable that feature, as block scoping is one of the things I really like having.   I wonder if there isn't a way that if you are enabling rewire capability for testing that imports could be declared in such a way that block scoping can be avoided, since they are mandated to be declared first anyhow.  Again, thanks

[2015-07-22 17:35] speedskater commented on #18
Thanks for the report and the example code. ) can reproduce your error and try to find a solution.

[2015-07-22 17:38] speedskater commented on #16
The error was caused by an error in the transformation. It should be fixed now. Can you please test with version 0.1.10. and let me know whether this solves the issue for you.

[2015-07-22 17:38] #16 closed

[2015-07-22 17:45] seanepping commented on #16
It works brilliantly, thanks for the quick fix!

[2015-07-22 17:47] speedskater commented on #19
Thanks for the detailed bug report. I will have a look at it.

[2015-07-22 18:01] speedskater commented on #18
I think I have fixed the issue in 0.1.11. Could you please verify if this resolves your issue?

[2015-07-22 18:01] #18 closed

[2015-07-23 12:51] vnovick commented on #18
Yeah. It's fixed. Thanks. Fixed it too. just wanted to open a PR, but I've noticed that you fixed that.

[2015-07-23 12:55] speedskater commented on #19
The issue you have reported is actually the correct behaviour. The reason is that foo is already resolved and assigned to another variable for the Main Module before you set the spy on the export foo of dependency.

But there is a working solution which should work for you. This solution rewires the foo import of the Main module with a spy function (could as well be a jasmine spy function).
I have

[2015-07-23 12:55] #19 closed

[2015-07-23 12:57] speedskater commented on #17
Could you please update babel and babel-plugin-rewire to the latest versions for your project. Remove the node_modules folder and call again npm install.

Does this resolve your issue?

[2015-07-23 13:03] vnovick opened #20 "__$Resetters__[name] is not a function"
When exporting an object as in example below:

[code]

and importing it through destructuring:

[code]

I get the following error:

Uncaught TypeError: __$Resetters__[name] is not a function
The same for  __$Setters__[name]

[2015-07-23 15:40] speedskater commented on #20
Maybe I have misunderstood you but I think you have an error in your export/import.

Either you should do default export which works as follows:

in WelcomePanel:

export default WelcomePanel;

in the test:

import ComponentToTest  from './src/WelcomePanel';

Or you should used named exports in which case you should do:

in WelcomePanel
export class WelcomePanel ....

int the test:

import { Welco

[2015-07-23 15:40] speedskater commented on #20
@vnovick Does the previous comment solve your issue?

[2015-07-23 18:33] bsr203 opened #21 "The plugin "rewire" didn't export a Plugin instance"
Hi,

I updated my babel version to latest, and getting this error.

The plugin interface was changed and can you please have a look

https://babeljs.io/docs/advanced/plugins/

[code]

versions

[code]

[2015-07-23 20:53] eskimoblood commented on #21
Same here

[2015-07-23 22:46] speedskater commented on #21
@bsr203, @eskimoblood Thanks for pointing this out. I was using the same babel versions in my tests but didn't had the same issue.
To solve the issue I changed the plugin format in 0.1.12. Could you please try again and let me know if the fix works for you?

[2015-07-24 03:16] bsr203 commented on #21
thanks.. that fixed it!!

[2015-07-24 03:16] #21 closed

[2015-07-24 07:53] bsr203 commented on #19
it works great.. thanks for your support.

[2015-07-24 09:46] vnovick commented on #20
The following helped. Thanks:

Welcome panel
[code]

Test:

[code]

[2015-07-24 09:47] #20 closed

[2015-07-27 07:13] TheSavior opened #22 "Do not expose added members via Object.keys"
babel-plugin-rewire should make sure that if you Object.keys() on a module that you don't see the added functions in the array:

[code]

I fixed this in my package [`rewire-global`](https://github.com/TheSavior/rewire-global/blob/master/index.js)

And we just fixed this in rewireify: https://github.com/i-like-robots/rewireify/pull/14

[2015-07-28 06:30] TheSavior commented on #22
Note that this is also part of @jhnns 's Rewire proper. You can see the Object.define there too: https://github.com/jhnns/rewire/blob/master/lib/getDefinePropertySrc.js

[2015-07-28 20:13] speedskater commented on #22
@TheSavior thanks for reporting this issue and generating the unit test. I will have a look at it on thursday and add a fix to babel-plugin-rewire.

[2015-07-28 20:19] TheSavior commented on #22
Thank you very much, this is the last thing keeping us from being able to use Babel internally. I spent some time looking at fixing it myself but got lost in the Babel transforms. :)

It seems like there are a few different ways to export modules with es6, do we need to be adding tests for all of those cases? Being new to es6, I'm not even sure what they all are haha.

[2015-07-31 21:38] TheSavior commented on #22
Any update on this? We are really excited to be able to switch over. :)

[2015-07-31 21:51] speedskater commented on #22
@TheSavior Sorry for the delay, but i have been really busy over the last days. I try to create the fix asap.

[2015-07-31 21:59] TheSavior commented on #22
Thank you. :)

Also, is there any documentation that you know of on this babel type / transform API stuff? I know it is coming from the Acorn parser and ESTree spec but I'm trying to figure out what the arguments to `t.callExpression` can be, for example.

[2015-08-03 11:20] speedskater commented on #22
Hi.
Sorry for the delay but your issue should be resolved in 0.1.13.
Regarding the transform API, i think the babel types API correspond to  the spider monkey parser api: https://developer.mozilla.org/en-US/docs/Mozilla/Projects/SpiderMonkey/Parser_API
@TheSavior Could you please let me know if the fix works for you?

[2015-08-03 11:20] #22 closed

[2015-08-03 11:20] #17 closed

[2015-08-03 17:09] TheSavior commented on #22
Thank you very much for working on this. It looks like the code doesn't cover all the different ways code is exported

[2015-08-04 14:37] StevenLangbroek opened #26 "Return reset function (like rewire)?"
I prefer to keep cleanup-code out of my actual specs, and thought maybe it would be possible to return a "restore" function from `__Rewire__` like the original rewire does?

[code]

[2015-08-04 17:52] speedskater commented on #26
Thanks for your input. Do you explicitly need this?
Would something like this be suitable for you as well (I use it in my tests). If you are interested i could opensource it as a utility library.

[code]

[2015-08-05 08:26] StevenLangbroek commented on #26
Yeah absolutely. Whatever works. At this point I'm not tied into a specific solution, but I don't want cleanup to be in my individual specs :).

[2015-08-05 15:24] 0x80 opened #27 "Cannot assign to read only property '__GetDependency__' of true"
[code]

I'm getting this as an error from webpack. Any idea what might be wrong?

webpack 1.10.1, babel 5.8.20

[2015-08-06 09:30] 0x80 opened #28 "Attempting to define property on object that is not extensible"
I'm now trying to work with a Karma Webpack setup, and without even trying to mock anything I get the following error from my tests:
[code]

Any idea what might be wrong? I'm using babel 5.8 and webpack 1.10

I've set the webpack config to debug: 'inline-source-maps' but the line number from the error is not referencing the original souce. It's outside of the scope of this issue but if someone can

[2015-08-06 12:21] speedskater commented on #28
@0x80 I think the error is regression of making the export properties not enumerable. I would suggest to try to use babel-plugin-rewire version 0.1.12 in the mean time. If this does not fix your error could please provide a usage sample as a PR ?

[2015-08-06 13:09] 0x80 commented on #28
@speedskater with that version I'm getting a different error in my tests: `TypeError: 'undefined' is not a function (evaluating '__$Setters__[name](value)')`

And if I use the code in a browser I see `Uncaught TypeError: __$Getters__[name] is not a function`

[2015-08-06 14:42] speedskater commented on #28
Okay. Thank you I will try to fix the problem asap. But it will take at least till tomorrow. So have a nice holliday and hopefully the bug is fixed afterwards :)

[2015-08-06 14:48] 0x80 commented on #28
:+1:

[2015-08-06 17:56] TheSavior commented on #28
I ran into this problem when building [rewire-global](https://github.com/TheSavior/rewire-global) because of modules that were returning things like booleans which you can obviously not add properties to.

The fix that worked for me was: https://github.com/TheSavior/rewire-global/blob/master/index.js#L11

[2015-08-06 23:59] PerlPong opened #29 "Plugin breaks exporting of objects (karma/webpack)"
First, thanks for your work on this plugin.

I have the following issue when try to export an object:

[code]

The test bundle compiles ok, but upon execution in the browser it dies with the following error:

````Uncaught TypeError: Cannot read property 'mode' of undefined````

[code]

I am using lastest webpack and babel. If I disable the plugin everything is ok. I looked through the transpiled c

[2015-08-07 09:07] speedskater commented on #29
Thanks for reporting the bug. Could you please create a PR with a usage sample which result in this error?

[2015-08-07 09:20] speedskater commented on #28
@TheSavior thanks for your suggestion. I think the problem should be solved by converting the primitive types to real objects.
@0x80 I thinks you can circumvent the problem by changing the exported primitive to a real object. e.g.

see: https://javascriptweblog.wordpress.com/2010/09/27/the-secret-life-of-javascript-primitives/

Will tackle the problem today evening.

[2015-08-07 13:33] DLMR opened #30 "[Question] Does not work with ES6 import"
This modified code from the README.md does not work. Only the import of Path has changed.
[code]
[code]

Is this a known limitation?

[2015-08-07 15:48] speedskater commented on #30
Currently this is a known limitation either use es6 modules import and export or use commonjs require and module exports. is it possible for you to adapt your code?

[2015-08-07 16:20] TheSavior commented on #28
It is super sketchy to convert people's primitives to objects. And as the article mentions, that won't work for booleans.

With the basic [rewire](https://github.com/jhnns/rewire) library, not every module has the `get` and `set` added, only the files that are explicitly called with `rewire('module/path')` have it added at runtime. This means that the user has control over what gets added.

Using

[2015-08-07 16:32] DLMR commented on #30
What do you mean with:

You mean that you can't mix them, because that is what I need to do now.

Currently I have adapted my code for it to work. It looks like this:
[code]

[code]

This works but I would rather have `import Path from 'path'` but as I understand it from you this is not possible today. I have understood this correctly?

[2015-08-07 16:39] speedskater commented on #28
I am just preparing. It is based on http://www.2ality.com/2011/04/javascript-converting-any-value-to.html. Thanks for your hint regarding boolean values. For boolean values I will use the normal assignment with standard properties. It has the drawback that enumerable properties are exported in this case but at least it should work.

Although I agree with you that changing only the code which is ac

[2015-08-07 16:45] TheSavior commented on #28
I guess I am making the claim that nobody ever wants to rewire modules that export primitives. So only adding the rewire methods on things that export `functions` and `objects` is safer than modifying possible behavior of people's code by converting the primitives up to objects.

[2015-08-07 17:12] speedskater commented on #30
I have already staged a fix for your problem, but it will take till tomorrow till a new version of babel plugin rewire is available.

[2015-08-07 17:14] DLMR commented on #30
Awesome! No stress, thanks for the quick reply.

Will keep this issue open and test when a new version have been published.

[2015-08-07 17:16] speedskater commented on #28
@TheSavior I have just run into another issue and i think you are definitely right. Will publish the fix in some hours :).

[2015-08-07 21:26] TheSavior opened #31 "Broken Build"
The build is currently broken:

[code]

https://travis-ci.org/speedskater/babel-plugin-rewire

[2015-08-07 21:35] speedskater commented on #31
Thanks for reporting fixed the case issue in filename.

[2015-08-07 21:35] #31 closed

[2015-08-07 21:36] speedskater commented on #30
I think the problem should be fixed in 0.1.14. Please let me know if the fix works for you.

[2015-08-07 21:38] speedskater commented on #29
A test trying to reproduce this error is in the repository https://github.com/speedskater/babel-plugin-rewire/blob/master/samples/issue29/sample.js. Unfortunately the error cannot be reproduced. Could you please provide more details how to reproduce your error?

[2015-08-07 21:40] speedskater commented on #28
@TheSavior, @0x80 The Problem should be fixed in the latest version 0.1.14. Only default exports which are of type function or object will get the rewire properties attached. Could you please let me know if the fix works for you.

[2015-08-07 21:41] speedskater commented on #27
@0x80 I think the bug should be fixed in 0.1.14. Could you please let me know if the fix works for you?

[2015-08-07 21:41] #27 closed

[2015-08-07 21:43] speedskater commented on #26
Okay. Therefore, I will create a project for the mentioned helper library. But it will take till about mid of next week.

[2015-08-08 01:07] TheSavior opened #33 "Can't rewire functions"
Functions that are defined in modules can't be rewired.

[2015-08-10 07:37] PerlPong commented on #29
I have been debugging this for hours and I am finding it hard to reduce down to a simple test case. I think the problem may be that the plugin is not compatible with the way I have designed my app, rather than a bug, but I would really appreciate your thoughts.

I have a module, config.js, that exports an object like this:

[code]

And other modules import the config object like this:

[code]

In

[2015-08-10 08:08] DLMR commented on #30
Unfortunately this is not yet fixed in 0.1.14.

[2015-08-10 08:20] speedskater commented on #33
Functionality to rewire functions added in 0.1.15

[2015-08-10 08:20] #33 closed

[2015-08-10 08:23] speedskater commented on #29
Could you post the code of one of the modules where the config is undefined?

[2015-08-10 08:26] speedskater commented on #30
@DLMR Could you please add a PR with a sample code? (sample code in corresponding directory below samples and add a reference to this directory to BabelRewirePluginUsageTest)

[2015-08-10 08:28] DLMR commented on #30
Will do that and get back to you.

[2015-08-10 08:28] speedskater commented on #30
Perfect thanks.

[2015-08-10 12:52] malonecj opened #36 "Error with babel loader: Cannot modify non-writable property '__get__'"
Hi

I'm trying to run tests using karma and the latest version of babel-loader 5.3.2 fails with the following error.

```Cannot modify non-writable property '__get__'```

This issue does not occur with babel-loader 5.3.0

[2015-08-10 14:12] speedskater commented on #36
Thanks for reporting. Could you please create a minimum example which reproduces this error?

[2015-08-10 17:51] PerlPong commented on #29
I have reduced it down to a minimal source tree that demonstrates the issue:

https://github.com/PerlPong/babel-plugin-rewire-issue29

[code]

I am not sure if this is an issue with babel-plugin-rewire, or not. But removing babel-plugin-rewire from karma.conf.js makes the test succeed.

[2015-08-10 18:14] TheSavior opened #38 "Shouldn't modify line numbers"
The transform injects new code in many places which changes the line numbers of the original file making it hard to debug. If we could inject all of the necessary code at the end of the file it would be much easier to handle.

[2015-08-10 18:40] TheSavior commented on #26
We should try to match the rewire interface as much as possible

[2015-08-11 07:12] speedskater commented on #29
Thanks for creating the example. I will have a look into fixing the bug ASAP. But I think I won't be able to work on it before thurdsday.

[2015-08-11 07:14] speedskater commented on #38
Although theoretically a good idea I would highly vote against it. Some parts might be moved to the end but definitively not all. I think it might cause problems because of scoping, execution order TDZ and many more. Maybe is there another way of propagating the original line numbers?

[2015-08-11 07:16] speedskater commented on #26
@TheSavior I agree. But I think we should generate as little code as needed because detecting errors in library code is much simpler and straightforward than in generated intermediate code.

[2015-08-11 20:03] PerlPong commented on #29
No problem, please take your time. I have a potential workaround, which is to not export an object from my config module and manipulate it directly, but instead to export methods getconfig() and setConfig(). But I hate running away from strange bugs like this without fully understanding them. There is so much magic going on, with babel and webpack, etc, that debugging is difficult.

[2015-08-11 20:17] speedskater commented on #29
I found the bug.
Please update karma to 0.13.3 see https://github.com/webpack/karma-webpack/issues/65
Second you had a cyclic reference between lib/config and lib/some_module

https://github.com/speedskater/babel-plugin-rewire-issue29/commit/50d6c1e4a975ab906c2e40d154f378b1a953bf37

[2015-08-11 20:20] speedskater commented on #36
Is this still and issue with the latest version 0.1.21 ?

[2015-08-11 20:23] speedskater commented on #29
@PerlPong does this fix the bug for you?

[2015-08-12 00:06] PerlPong commented on #29
Thanks for looking into this. The test case now passes.

I think the cyclic reference is the main issue. It worked fine without the plugin, but it seems like a bad idea anyway, so I will try and re-work my code.

[2015-08-12 00:06] #29 closed

[2015-08-12 13:23] Janekk opened #40 "Error after calling __Rewire__ with webpack"
I'm getting such error once I call `__Rewire__()` on a module in my test code:

`TypeError: 'undefined' is not a function (evaluating '__$Setters__[name](value)')`

Did you happen to see this error before? (I can set up a sample repo to reproduce that)

[2015-08-12 13:50] speedskater commented on #40
Thanks for reporting the issue. If you could create a PR with a sample reproducing this error this would be perfect (https://github.com/speedskater/babel-plugin-rewire/tree/master/samples + an entry in https://github.com/speedskater/babel-plugin-rewire/blob/master/usage-tests/BabelRewirePluginUsageTest.js)

[2015-08-12 14:40] Janekk commented on #40
oh sorry, this turned out to be my mistake. I'll close this one for now. Thanks!

[2015-08-12 14:40] #40 closed

[2015-08-12 15:53] TheSavior commented on #29
This plugin should support cyclic includes since that is valid javascript and the module loaders handle it.

[2015-08-12 17:09] damassi opened #41 "Question about Keeping Up With Babel / Suggestion / Maintenance"
This is in no way a criticism of your work, but I'm wondering if there is a reason this plugin seems to break so frequently?  Is it because Babel is constantly changing how it handles things / API?  There have been numerous "OMG!" moments lately where a deploy has broke due to babel-plugin-rewire, and it would be nice to either:

A) Mention the general API instability in the README, or perhaps thi

[2015-08-12 17:13] TheSavior commented on #41
@damassi This package has changed a lot in the last week or two because we've been trying to get it functionally useful and have been changing how we attach and inject the getters and setters. For example, we needed to use `Object.defineProperty` instead of setting the functions on the export directly using `=` which had some unintended side effects.

I would imagine once these things settle down,

[2015-08-12 17:15] damassi commented on #41
Thats great to hear :)  I'll watch the repo and look out for a 1.0 release.

[2015-08-12 21:23] speedskater commented on #41
@damassi. Thanks for your feedback. And thanks to @TheSavior for the quick response.
I am fully aware that over the last weeks babel-plugin-rewire was constantly breaking. We therefore increased the tests and added samples and usage tests (https://travis-ci.org/speedskater/babel-plugin-rewire).

As mentioned by TheSavior, in terms of features rewiring of variables, functions named exports and an a

[2015-08-13 13:48] malonecj commented on #36
it appears to be. I will try and get an example to reproduce this error

On 11 August 2015 at 21:20, speedskater <notifications@github.com> wrote:

[2015-08-13 15:31] speedskater commented on #36
Thanks that would be perfect.

[2015-08-14 06:22] TheSavior commented on #38
I think Babel's sourcemaps make this moot. I won't get to testing this theory out for a while so I'll close this and we can reopen if it isn't the case.

[2015-08-14 06:22] #38 closed

[2015-08-15 17:20] nordisk opened #42 "Usage with mocha + babel"
Hi.
In my `mocha.opts`I use `--compilers js:babel/register` so that I can write my tests in ES6.
Can you provide me a hint on how to use this with Mocha + Babel?

[2015-08-16 07:34] melbourne2991 opened #43 "Not working as expected with es6 import"
Rewire doesn't seem to be subbing in my mock. I get an error if I specify a dependency that doesn't exist so it seems to be hooking into the right one (config), but the config object still has the original path ('/something/images') as opposed to ('/images')

Test code
[code]

Class - seems imageAssetStrategies.local.localImagePath is using the config.compositionImagePath from the original file (I

[2015-08-16 09:46] speedskater commented on #43
Thanks for reporting the issue.

I think your problem is, that the value already got assigned to imageAssetStrategies.local and therefore the rewire call doesn't affect the localImagePath in any way.

To get arround this i would suggest to replace the localImagePath with a getter (therefore every time the config changes the result of the getter changes as well).
Another approach would be to direct

[2015-08-16 10:36] speedskater commented on #42
I havn't used it in this way myself. But I think you can use a babel require hook: https://babeljs.io/docs/usage/require/. In the options of the hook you can than specify babel-plugin-rewire. This hook than can be invoked by the --require option of mocha (https://mochajs.org/).
I hope this works for you. Just let me know if this solves your issue?

[2015-08-16 11:08] nordisk commented on #42
Hi @speedskater. I just use a custom `.babelrc` with `plugins:["babel-plugin-rewire"]`.
In my `mocha.opts` I just tell mocha to use babel/register, et voila.
Thanks for the awesome plugin!

[2015-08-16 11:08] #42 closed

[2015-08-16 12:49] speedskater commented on #42
@nordisk Thanks. Glad to read, that it works for you and you like it.

[2015-08-20 02:08] melbourne2991 commented on #43
Yeah that makes sense, thanks @speedskater

[2015-08-20 07:06] #43 closed

[2015-08-22 19:43] bunkat opened #44 "Rewire with Webpack and Karma"
I can't figure out how to make this plugin work correctly.  I'm using webpack and have installed the latest version of the plugin.  I've tried adding the following:

[code]

But when I try to do the following:

[code]

There is no `__Rewire__` call being added to the module.  Obviously I'm missing something and I can't figure out what.  How exactly does the plugin get loaded?  How can I test to se

[2015-08-24 07:52] speedskater commented on #44
@bunkat I am not sure. But it could be that the problem is that you use babel loader twice.
"'babel?stage=0', 'babel-loader?plugins=babel-plugin-rewire'"
If this is not the case could you please create a small sample project which replicates your error.

[2015-08-27 08:43] valermor opened #45 "Cannot rewire instance methods"
Rewiring static methods works ok. I am getting an issue when trying to rewire instance methods.

Example:

module _aclass.es6_:
[code]

module _bclass.es6_:
[code]

and the tests:
[code]

  Test for rewiring dependencies of a class
    ✓ should rewire a static method
    1) should rewire an instance method

  1) Test for rewiring dependencies of a class should rewire an instance method:
     TypeE

[2015-08-28 17:21] DLMR commented on #30
This problem seems to be related to when using `isparta-loader` together with this plugin. Without `isparta-loader` this example works fine in the latest version.

[2015-08-28 17:21] #30 closed

[2015-08-28 22:15] TheSavior commented on #30
It would be great to figure out what is happening that causes these incompatibilities with other libraries. Ideally babel-plugin-rewire should be totally transparent to everything else.

[2015-08-29 08:16] speedskater commented on #30
@TheSavior I agree. Having a set of samples which can reproduce such kind of errors might be a step in the right direction to solve issues like this.

[2015-08-30 01:15] CentaurWarchief opened #47 "It doesn't seems to work with flow"
Hey! I'm currently stuck with this error:

[code]

That's because my `Bla` is an import of a flow type:

[code]

And `Bla` exports a type:
[code]

Well, I dunno if it is a problem with this plugin, it could be something with babel. But the point is that those `import type` declarations should be ignored.

[2015-08-30 01:43] CentaurWarchief commented on #47
Seems to be a babel thing. Closing.

[2015-08-31 09:16] speedskater commented on #45
Hi. Thanks for creating this issue. I think this should be supported. Can you create a PR with a sample containing your example. I will than have a look at it on thursday or friday.

[2015-08-31 17:44] TheSavior commented on #45
I don't think it really makes sense to rewire instance methods and I don't believe `rewire` does that either.

[2015-08-31 21:45] DLMR opened #48 "Does not work with non default async functions"
Currently the plugin can't handle non default async functions. When using them in the code the following error is given, this is not a problem without the plugin in Babel.

[code]

I have solved this in a coming PR.

[2015-09-01 08:20] valermor commented on #45
I am working on a project where supporting instance methods would be a great help.
@TheSavior can you elaborate why this case would not make sense beside whether being supported by `rewire`?

[2015-09-01 16:58] TheSavior commented on #45
You don't need rewire for this, you can just get the reference to your Class in your test and overwrite the function on the prototype. The value of rewire (and its family of packages) is to modify private state in modules that you would be otherwise unable to access.

Rewire should be the base package that simply enables private state and then lets other packages be built on top of it. That is why

[2015-09-03 09:51] speedskater commented on #45
@TheSavior I totally agree.

@valermor Therefore if you have a case where it is not possible to rewire the class itself it is an issue for babel-plugin-rewire.

[2015-09-03 13:21] moret opened #50 "Typo in project description"
<img width="780" alt="screen shot 2015-09-03 at 10 20 15" src="https://cloud.githubusercontent.com/assets/620156/9659197/73682c8a-5225-11e5-8329-59c67e535103.png">

`s/modul/module`

:smile:

[2015-09-03 22:17] sazzer opened #51 "Comment generated methods so that istanbul coverage will ignore them"
This plugin by necessity adds a bunch of method declarations to the output file. If you then run unit tests with code coverage, the fact that these generated methods aren't tested means that coverage levels are not reported correctly.

Istanbul supports adding comments to the code to indicate that the next entry is ignored, which will cause coverage levels to be better reported.

What's needed to

[2015-09-07 06:12] speedskater commented on #51
@sazzer Thanks for reporting this issue and thanks for the effort you put into creating the PR. As discussed in the PR I think it is maybe not the best solution to put lots of comments into the generated code if it is possible to use alternatives.
Would isparta be okay for you?

[2015-09-07 06:18] speedskater commented on #50
Thanks for reporting. It is fixed.

[2015-09-07 06:18] #50 closed

[2015-09-08 07:16] #48 closed

[2015-09-11 20:25] volkanunsal commented on #44
Same here...

[2015-09-11 20:38] volkanunsal commented on #44
I wonder if this is the right way to load babel plugins. I can't find any reference to this option anywhere except for this repo. :-/

[2015-09-11 21:04] volkanunsal commented on #44
My problem was indeed loading the loader twice. That fixed it for me.

[2015-09-11 21:38] volkanunsal opened #56 "The function under test refers to the original, not the rewired, function"
Given the following, I notice that the functions in the tested file refer to the original, unwired functions.

[code]

The result is tests fail since the spy function is never called.

The only way I managed to have them refer to the rewired copy of the function was by requiring them again inside componentDidMount, but that's not a tenable solution, in my view.

[2015-09-12 12:18] speedskater commented on #56
Thanks for reporting the issue. From my point of view it should work. I will try to reproduce the error and fix it.

[2015-09-14 04:37] damassi commented on #44
This is happening to me as well. Not sure if its due to the fact that I'm loading webpack via karma?

[code]

[2015-09-14 05:33] volkanunsal commented on #44
[code]

I'd never seen the query for a loader written in this form before. According to the [Webpack docs](http://webpack.github.io/docs/loaders.html), `query` should be a string. That might be the root cause. For what it's worth, my loader config looks like this:

[code]

[2015-09-14 07:18] speedskater commented on #44
@volkanunsal This might be the case. We use babel-plugin-rewire with webpack and karma with the following loader config:
loader: 'babel-loader?plugins=rewire'

[2015-09-14 07:39] #51 closed

[2015-09-14 07:48] speedskater commented on #56
@volkanunsal I just checked the samples code and we have a sample which does exactly what you are looking for: https://github.com/speedskater/babel-plugin-rewire/tree/master/samples/issue19

Maybe I am missing something but in your sample the componentDidMount method is never called.

[2015-09-14 07:49] speedskater commented on #45
@valermor  Did rewireing the class ifself help you?

[2015-09-14 07:51] speedskater commented on #36
Imho this should be fixed by now. Therefore I will close this issue. @malonecj if it is still an issue please reopen it.

[2015-09-14 07:51] #36 closed

[2015-09-14 10:49] valermor commented on #45
Not really. The approach proposed by @TheSavior requires to have the class under test to expose its dependency in the API. I am not totally in favour of this.
I understand you do not want to alter the primary purpose of the module. However, it seems as if my case would be another use case which won't change the nature of the module but add a useful behaviour to it.
If there is an agreement that th

[2015-09-14 12:50] volkanunsal commented on #56
That's very helpful. I'm sure componenDidMount is being called. I put a `console.log` in that function and saw the output and checked the other day. But I'm not using `__GetDependency__ ` in my test code. Could that be the problem here? I will try using that when I get back to work.

[2015-09-14 16:33] TheSavior commented on #45
It seems like your use case is what sinon stubs are for. You could set a stub in your beforeEach, right?

[2015-09-14 17:27] volkanunsal commented on #56
I just checked. It's definitely working if the function is accessed this way:

[code]

But not if the function was destructured as the module is imported, as in:

[code]

Any thoughts?

[2015-09-14 22:29] TheSavior commented on #56
If you call `module.function` you are calling the function on the module.

If you say
[code]

Now `func` points to the same thing that `module.function`. Rewire changes the reference that `module.function` points to.

In your example that destructures, you are creating `func` like we have above, and that will continue pointing to the original function even after it is rewired. It also changes the

[2015-09-15 00:06] volkanunsal commented on #56
Is there any way around this? Function import is a pretty common convention and can translate to significant saving in file size after dead code elimination has run. By importing the entire module, we'd be losing all that benefit.

[2015-09-15 00:44] TheSavior commented on #56
We typically use [`proxyquire`](https://github.com/thlorenz/proxyquire) to change the functionality of dependencies instead of rewire.

[2015-09-15 01:07] volkanunsal commented on #56
I'll check it out. Looks promising. I assume it can get around the problem with function import?

[2015-09-15 07:10] speedskater commented on #56
@volkanunsal @TheSavior  imho in an es6 context the rewirering of named imports should definitively work. @volkanunsal could you please generate a PR with a sample which reproduces your error. I will have a look at it and will try to fix it.

[2015-09-15 07:24] speedskater commented on #45
@valermor but changing the prototype of a member function should be possible (either directly or by creating a spy)?

Maybe a project building on top of rewire, babel-plugin-rewire or similar rewire libraries would be a solution to provide convencience functions for this. e.g. rewireClass(module, 'classname', { .... }).
This utilitiy/helper library could be combined with reset functionality which

[2015-09-15 16:10] mbfisher opened #57 "Rewire API added to module twice"
A contrived example:

[code]

[code]

This leads to an error whereby `__Rewire__` is added to the `MyClass` export in `MyClass.js` **and** `index.js`, causing `Object.defineProperty` to fail the second time around:

[code]

I'd love have a go at a PR for this but have never worked with the Babel internals and it looks a bit mad...

M

[2015-09-15 17:21] TheSavior commented on #57
Interesting. I'd imagine this could be a problem with any of the rewire flavors. I recently ran into this error with rewire-global but didn't look into it yet. @i-like-robots, have you come across this? @jhnns, perhaps we should be adding a check that these functions don't already exist in https://github.com/jhnns/rewire/blob/master/lib/getDefinePropertySrc.js

This is further reason why we should

[2015-09-16 13:16] mbfisher commented on #57
I have [a commit](https://github.com/speedskater/babel-plugin-rewire/compare/master...mbfisher:issue-57) which fixes my instance of this. I've been able to test the changes in `exit` but not in `ExportDefaultDeclaration`. I've never worked with the Babel API before - is it along the right lines?

M

[2015-09-16 15:22] kamilio opened #58 "Problem with default export of default import from module"
I've noticed strange behaviour when using this export/import construct. It does not expose the original module, just object with the rewrite enhancement methods.

[code]

[code]

You can find failing test for such a scenario in following commit https://github.com/kamilio/babel-plugin-rewire/commit/2b3b0fcac62b2a28acbef33567be1ec1f74a4778

Thanks a lot

[2015-09-16 22:16] jmreidy commented on #21
I'm seeing this same error with the newest versions of babel and this plugin:
[code]

Version numbers:
[code]

[2015-09-18 07:16] baabgai opened #59 "mutual imports"
I stumbled over a issue with mutual imports.
Within my code base I have situation like this:

mod1.js
[code]

mod2.js
[code]

mod3.js
[code]

Processing these file with babel alone works fine the output is as expected
[code]

running the files with ```babel --plugins rewire``` leads to the output
[code]

When running with rewire, at the stage of running the switch statement in ```fun3``` the impor

[2015-09-25 01:16] CentaurWarchief commented on #47
It isn't a "babel thing". I found the problem. `import type` declarations should be ignored by this plugin.

[2015-09-25 07:10] boneskull opened #61 "incompatible with wallaby.js"
[Wallaby.js](http://wallabyjs.com) is a test runner for various IDE's and text editors.

As it says in big letters, "wallaby runs your code as you write it".

I don't know how it works, exactly, but from what I can tell, the code is analyzed and modules or portions thereof are re-run as you type.

I'm running into an issue with the code generated by this plugin.  Specifically, the following (and i

[2015-09-25 07:11] boneskull commented on #61
see wallabyjs/public#278

[2015-09-29 04:57] srph opened #64 "Cannot redefine property: __Rewire__"
I am using Karma and Webpack to run this plugin.

This seems to occur around these lines:

[code]

This is my webpack loader config:

[code]

Not sure if https://github.com/speedskater/babel-plugin-rewire/issues/57 or https://github.com/speedskater/babel-plugin-rewire/issues/44 is related. Anybody care to check?

[2015-10-01 13:23] #45 closed

[2015-10-01 14:02] #47 closed

[2015-10-01 14:49] michaelcontento commented on #59
Some problem here :(

[2015-10-01 14:55] #61 closed

[2015-10-01 15:55] speedskater commented on #57
@mbfisher thanks for reporting this issue and creating the PR. Your issue is resolved by https://github.com/speedskater/babel-plugin-rewire/pull/62.

Generally patterns like in your sample were an existing class is changed and then reexported should be avoided, as this always modifies the original class. If this is intended and you want to be able to rewire the modified as well as the original mod

[2015-10-01 15:55] #57 closed

[2015-10-01 15:58] speedskater commented on #64
@srph It seems that this issue is related to https://github.com/speedskater/babel-plugin-rewire/issues/57
as well as https://github.com/speedskater/babel-plugin-rewire/pull/62. As soon as a new version is available which sould happen within the next hours this should solve your issue.

[2015-10-01 16:08] mbfisher commented on #57
Cheers!

M

On Thursday, 1 October 2015, speedskater <notifications@github.com> wrote:

--
Mike Fisher

Email: mike@mbfisher.com
Skype: mb_fisher
GitHub: mbfisher

[2015-10-01 20:33] speedskater commented on #59
@baabgai, @michaelcontento The problem is caused by dynamic binding of imports. I have created a fix which should support mutual imports. As this resulted in a huge change I will create a beta version over the next hours. If this beta version works for you and all other babel-plugin-rewire users I will switch to a stable number again.

[2015-10-01 20:50] speedskater commented on #58
Thanks for reporting the issue and the samples. I created a fix. It will be contained in the upcoming beta version.

[2015-10-01 20:50] #58 closed

[2015-10-01 22:10] speedskater commented on #59
@baabgai @michaelcontento new version 0.1.23-beta-3 is online this should fix your issues. Please let me know if it works for you.

[2015-10-01 22:10] #59 closed

[2015-10-01 22:10] speedskater commented on #56
@volkanunsal Is this still an issue for you??? (0.1.23-beta-3)

[2015-10-01 22:57] volkanunsal commented on #56
@speedskater Hey! Sorry,  I didn't see your post before the last one. I will take a look. How can I install 0.1.23-beta-3? It's not on npm or in this repo.

[2015-10-02 05:25] srph commented on #64
Really, really thanks :cupid: . Looking forward to it :smile:

[2015-10-02 07:13] speedskater commented on #56
@volkanunsal Hi, never mind. It is a beta version therefore it is not listed in the repository. But you can just enter the version in your package.json and it should install.

[2015-10-02 07:15] speedskater commented on #64
@srph :). Could you please try the beta version 0.1.23-beta-3. And let me know if this fixes the issue for you?

[2015-10-02 09:42] srph commented on #64
I got new errors:

[code]

[2015-10-02 10:24] speedskater commented on #64
@srph . Thanks for testing. Could you please provide a toy example or a PR with the sample, such that i can reproduce your error and provide a fix.

[2015-10-02 18:42] ernie opened #65 "Seems to break circular dependencies"
I spent hours today troubleshooting an issue in which I had two React components that imported one another. I was using @badsyntax's react-seed project as a starting point for my project, which has the following line:

[code]

After pulling my hair out as to why one of my modules was seeing the other as undefined, assuming the issue was with my code, I tried removing rewire from the loader configu

[2015-10-03 06:47] srph commented on #64
I'll try, but I got the error around these lines.

[code]

[2015-10-03 20:23] dmwyatt commented on #64
I'm hitting the original issue in this thread.  I can try out any beta versions, or if @speedskater can describe the source of the issue in more detail, I might take a shot at a PR to fix the problem...

[2015-10-05 08:48] speedskater commented on #64
@dmwyatt did 0.1.23-beta-3 solve your issue?
@srph is this the generated or is this your code?

[2015-10-05 08:52] speedskater commented on #65
@ernie This is the same issue as reported in https://github.com/speedskater/babel-plugin-rewire/issues/59 There is already a fix for this problem 0.1.23-beta-3. At the moment this is only beta version as this was a major change which could result in further errors (which we try to detect and fix ;) ).
Therefore could you please try the beta version?

[2015-10-05 09:00] srph commented on #64
Generated code, and it seems to be from rewire.

[2015-10-05 09:18] speedskater commented on #64
@srph thanks for the feedback. I am more interested in the original not in the generated source code. So if you could create a simple toy example which results in the error it would be perfect. This would help me to reproduce the error.

[2015-10-05 09:23] srph commented on #64
Noted. Let me work on it. I'll report anything I find.

[2015-10-05 09:23] speedskater commented on #64
@srph Thanks :+1:

[2015-10-05 09:30] srph commented on #64
I found out something. It'll be a little bit long, so hang on. Like I said, AFAICR, I'm using Webpack and Karma. I forgot to mention that I'm using Sinon and Chai.

This was my webpack config for finding all test files:

[code]

Instead of running all tests, I made a dummy suite:

[code]

And change my webpack config (for resolving spec files):

[code]

No hints of error. I am intensively using Si

[2015-10-05 09:57] srph commented on #64
I'm sending a demo in a few minutes. It seems that I was correct.

[2015-10-05 10:21] srph commented on #64
Aha, I think I found out. This makes the error:

[code]

[2015-10-05 12:03] kibin commented on #28
That’s still issue for me. I’m trying to use it with karma and before I’m able to do anything I get

[code]

My tests.webpack.js is dumb and simple:

[code]

Version of plugin: `babel-plugin-rewire@0.1.22 node_modules/babel-plugin-rewire`

Am I missing something?

[2015-10-05 12:13] kibin commented on #28
I placed a debugger in `function __Rewire__` and discovered that `name` in arguments is `undefined`.

[2015-10-05 12:15] ernie commented on #65
Ah, I didn't see this one when I was looking for a duplicate issue. My apologies.

[2015-10-05 12:16] #65 closed

[2015-10-05 13:12] #64 closed

[2015-10-05 14:18] dmwyatt commented on #64
@speedskater Yes, 0.1.23-beta-3, does fix the issue for me.

[2015-10-08 16:11] speedskater commented on #64
@srph thanks for testing. Could you provide the whole sample file which contains "export default exports;" I would like to analyze if this could be a an error in certain edge cases.

[2015-10-08 17:24] srph commented on #64
You can just copy-paste it. My sample is as it is. It bugged with that exact sample :)

[2015-10-10 21:14] volkanunsal commented on #56
It works!

[2015-10-10 21:14] #56 closed

[2015-10-13 07:27] speedskater commented on #56
@volkanunsal  Thanks for checking

[2015-10-13 19:08] nathanjd commented on #26
I would love to see this and support for an object parameter to dependency reassignment. For example:

let revert = myModule.__Rewire__({
    dependency1name: dependency1mock,
    dependency2name: dependency2mock
});

revert();

[2015-10-14 15:44] djskinner opened #66 "Problems when using `react-require`"
Let's say I have a React component as follows:

[code]

Here I'm using React 0.14's new stateless functional component syntax but the problem applies to any React component.

Despite not explicitly using the `React` import I have to define it or Babel will complain and fail. However this is a bit annoying not least because of the eslint warnings but also because it's unclear to other developer why

[2015-10-14 15:45] djskinner commented on #66
If I leave both plugins enabled but put the import declaration back in the error disappears.

[2015-10-14 16:07] TheSavior commented on #66
Does the order in which you specify the Babel plugins matter?

[2015-10-14 16:23] djskinner commented on #66
Yes, it does. `babel-plugin-rewire` before `react-require` in `.babelrc` solves the problem:

[code]

Many thanks!

[2015-10-14 16:23] #66 closed

[2015-10-20 13:10] fobdy commented on #28
I think this issue has to be reopened. We have the similar problem with `webpack`, `babel`, `redux` and `babel-plugin-rewire` :(

[code]

[2015-10-20 14:18] speedskater commented on #28
@fobdy Thanks for reopening the issue. Could you please test it with 0.1.23-beta-3 ?

[2015-10-20 22:07] amalahussein opened #67 "Question about how to use this to import an entire file, similar to rewirejs"
question is in the title--thanks!

[2015-10-21 08:51] jorispz commented on #28
I ran into the same problem today - `webpack`, `babel`, `redux`, and `babel-plugin-rewire@0.1.23-beta3`. Unfortunately the issue isn't solved for us in this beta-3 release, we get the same error:

[code]
Please let me know if there's anything I can do to assist in debugging!

[2015-10-21 09:47] speedskater commented on #28
@jorispz thanks for testing. It would be great if you could a PR with a sample which reconstructs your problem. I will then try to fix it as soon as possible.

[2015-10-21 16:56] CrazyUmka commented on #28
Here is example with issue with `redux`, `babel`, `webpack` demonstration: https://github.com/CrazyUmka/babel-plugin-rewire-issue28

Please reopen the issue (now it is in closed status)

[2015-10-21 17:11] TheSavior commented on #28
Thanks for providing a sample. Is it possible for you to reduce the test case down to the smallest part that reproduces the error? And it doesn't look like your repo has a test suite that we can run to reproduce the error.

If you find that setting up that repo for this is too difficult, you might want to consider adding a fixture to this repo and adding a failing test here for us to fix.

[2015-10-22 07:57] jorispz commented on #28
I created a minimal testcase here: https://github.com/jorispz/babel-plugin-rewire-issue-28

As explained in the README, the problem can be reproduced by running 'npm run test', and disappears when not using the rewire plugin. The cause seems to be the use of Object.assign - see README for details.

I hope this helps, let me know if I can help further!

[2015-10-26 09:53] speedskater commented on #67
@amalahussein Could you please be a bit more detailed about your question :)

[2015-10-29 10:57] baabgai commented on #59
sorry for the late response. The test cases seem to work perfectly fine now and I will try to include it again in the main project to see if everything works as expected outside the simple example above.

[2015-10-29 13:52] baabgai opened #69 "TypeError: cannot read property 'declarations' of undefined"
When exporting undefined variables, stand-alone ```babel <filename>.js``` transpiles the following just fine
[code]
is translated to
[code]
running the same snippet together with ```babel --plugins rewire <filename>.js``` leads to an error message
[code]

Just to give some context why somebody would export a undefined variable (it's actually not my choice). We work on a Typescript project and Type

[2015-10-30 16:51] dzucconi opened #71 "Accommodate Babel 6 plugin API"
Re: http://babeljs.io/blog/2015/10/29/6.0.0/#plugin-api

[2015-11-02 16:44] yusefnapora opened #72 "ReferenceError when using flow `import type`"
If a module containing a declaration like `import type {someType} from './someFile';` is imported when `babel-plugin-rewire` is enabled, a `ReferenceError` is thrown:

[code]

Other uses of flow don't have any issues, so for now I can work around this by re-declaring the type inside the module I'm testing.

This seems like it may be related to #69, but I'm not familiar enough with the internals of

[2015-11-03 00:47] Dygerati commented on #28
+1
We're also unable to use the plugin due to a similar error:
[code]

[2015-11-03 03:08] hydrotik commented on #71
I am assuming this is related to this error? :+1:
[code]

[2015-11-03 03:11] rnicholus commented on #71
Correct. I'm creating a pull request as we speak.

[2015-11-03 03:48] rnicholus commented on #71
After attempting to upgrade this plug-in to work w/ Babel 6, and failing due to other seemingly undocumented breaking changes in Babel's plug-in API, I have reversed course. Babel 6 is a bit of a mess at the moment, and it seems prudent to hold off upgrading to Babel 6 until the dust has settled and the library has stabilized a bit.

[2015-11-03 06:48] TheSavior commented on #71
Can you document these things you came across for anyone else attempting to make the necessary changes to Babel-plugin-rewire? I was going to take a look myself.

[2015-11-03 13:24] davidreher opened #73 "Karma&Browserify with config object does not work."
Hey, I have a karma.conf.js with the following content:
[code]

and I do not get any __RewireApi__ object in my tests (the following test fails):
[code]

Can you help me with this?

[2015-11-03 20:42] TheSavior commented on #71
I took a first stab at this by updating the things I know changed. You can see the diff here:

https://github.com/speedskater/babel-plugin-rewire/compare/master...TheSavior:babel6

Currently getting:
[code]

[2015-11-03 21:12] TheSavior commented on #71
Relevant slack conversation log:

[code]

[2015-11-04 10:53] speedskater commented on #28
Sorry for the Delay on the latest issues but i am currently in h

[2015-11-04 10:55] speedskater commented on #28
on holidays and will return on the 23rd of november. I will then fix this bug and create a new beta.

[2015-11-04 10:56] speedskater commented on #71
Thanks for Reportage this Bug and the Delay on this issue but I am currently on holidays and will return on the 23rd of november. I will then fix this bug and create a new beta.

[2015-11-04 10:58] speedskater commented on #72
Thanks for reporting this bug and the Delay on this issue but I am currently on holidays and will return on the 23rd of november. I will then fix this bug and create a new beta.

[2015-11-04 11:01] speedskater commented on #73
Thanks for reporting this Bug and the Delay on this issue but I am currently on holidays and will return on the 23rd of november. I will comment on this Bug as soon as I will return.

[2015-11-04 14:58] scott2449 commented on #40
@Janekk can you please elaborate on how you solved this issue? We have the same. I assume it's some config/usage issue but tried lots of variants with no luck.

[2015-11-04 18:46] TheSavior commented on #71
In the mean time, I created a new babel plugin that doesn't have the full capability of this plugin, but at least solves our need:

https://github.com/TheSavior/babel-plugin-rewire-es5

It will only work for modules that use `module.exports`, and it very likely may fail for any variables that babel renames. These happen to not currently be concerns for us, so if they aren't concerns for you, feel

[2015-11-08 01:58] dcrockwell commented on #71
+1

[2015-11-12 20:16] adamdicarlo commented on #28
@jorispz nice test case! I just stepped through that in Firefox and noticed something pretty interesting.

Here's some code within Redux:

[code]

The `__GetDependency__` is being enumerated by `Object.keys`! I would have though all the rewire stuff would be added as non-enumerable...?

[2015-11-12 20:19] adamdicarlo commented on #28
Here's a snippet from `babel-plugin-rewire` itself:

[code]

So I'm wondering if the `Object.assign` polyfill is what's messing up!

[2015-11-12 21:45] adamdicarlo commented on #28
Nevermind about that. But I'm thinking potentially this has something to do with it:

[code]
so problem from OP was maybe... `import foo from './foo'` rather than `import { foo } from './foo'` or something?

[2015-11-13 11:20] paprikka commented on #71
+1

[2015-11-18 15:11] hellosmithy commented on #40
![wisdom_of_the_ancients](https://cloud.githubusercontent.com/assets/866604/11244666/a72171a4-8e06-11e5-9f34-44789a8372f3.png)

[2015-11-19 20:44] jrans commented on #71
+1

[2015-11-23 05:19] doylem commented on #71
Having just tried to upgrade to Babel6, it seems this is the final blocker in getting it over the line. I've come to ask, how can i help @speedskater ?

[2015-11-24 17:57] rnicholus commented on #71
This was lost in the sea of annoying +1's, but speedskater said he would fix this after returning from vacation on the 23rd. And indeed there is [a branch where work has started](https://github.com/speedskater/babel-plugin-rewire/tree/babel6-support) (and possibly almost finished). Thanks for all of your hard work @speedskater.

[2015-11-25 11:45] VoloshinS commented on #73
Is there any updates on this issue?

After adding plugin to karma configs:

[code]
I get following error for all tests files:
[code]

[2015-11-25 12:53] speedskater commented on #73
@VoloshinS sorry haven't looked into it till now. fighting with babel 6 at the moment...

[2015-11-25 12:58] speedskater commented on #71
@rnicholus thanks. As you have guessed I am right now working on babel 6.
@doylem Thank for your offer. Right now its just a lot of refactoring and it takes a bit of a time. But it would be great if you could help when its finished in testing it or by providing additional tests. By the time it will get stable again, I would really appreciate any help on oncoming issues :)

[2015-11-26 17:02] speedskater commented on #28
As far as i have seen the problem in your PR is
import * as helloWorldReducers from './reducers.js';
The Problem is that i haven't found a solution how to prevent the wild card import to recognize the exports from rewire.

[2015-11-27 07:22] speedskater commented on #71
There is a new beta version available now. 1.0.0-beta-2. Could you all please test it and if you have any issues with it could you please provide a PR with a minimal sample reproducing your error (analog to the samples in the repo used by https://github.com/speedskater/babel-plugin-rewire/blob/master/usage-tests/BabelRewirePluginUsageTest.js.

[2015-11-27 07:23] speedskater commented on #72
@yusefnapora Your issue should be fixed in the newest beta version 1.0.0-beta-2 for babel 6. Could you all test it and if you have any issues with it could you please provide a PR with a minimal sample reproducing your error (analog to the samples in the repo used by https://github.com/speedskater/babel-plugin-rewire/blob/master/usage-tests/BabelRewirePluginUsageTest.js.

[2015-11-27 07:24] speedskater commented on #69
@baabgai I think I have fixed your issue and provided a new beta version 1.0.0-beta-2. Could you please test it and if you have any issues with it could you please provide a PR with a minimal sample reproducing your error (analog to the samples in the repo used by https://github.com/speedskater/babel-plugin-rewire/blob/master/usage-tests/BabelRewirePluginUsageTest.js.)

[2015-11-27 07:25] speedskater commented on #26
@nathanjd @StevenLangbroek it took longer than initially expected but there is a new beta 1.0.0-beta-2 for babel 6 which contains rewire.js style __with__ functionality. Could you please test it and if you have any issues with it could you please provide a PR with a minimal sample reproducing your error (analog to the samples in the repo used by https://github.com/speedskater/babel-plugin-rewire/b

[2015-11-27 09:21] warrenseymour commented on #71
@speedskater I just wanted to chime in and say thanks for getting a babel-6 compatible version of this library out so quickly. I've tried it in a rather small test-case and it appears to working well so far. Thanks!

[2015-11-30 07:55] doylem commented on #71
@speedskater thanks so much ! I'll test with my app and get back to you.

[2015-11-30 10:33] baabgai commented on #69
Integrated the new beta in to our project and everything seems to work fine now.
Thanks for the fix!

[2015-11-30 14:21] #69 closed

[2015-11-30 17:43] TheSavior commented on #67
@amalahussein Can this be closed?

[2015-11-30 17:49] amalahussein commented on #67
@TheSavior hey sorry, I havent come back to this issue, but my question was in the case where I have a dependency that I am importing, such as:

example.js/
import {hello} from './hello.js'

export function example(){
return Hello.methodOnHello()
}

I would like to rewire Hello, when testing example.js, is this possible?

[2015-11-30 19:38] TheSavior commented on #67
Would [proxyquire](https://github.com/thlorenz/proxyquire) work for this case?

[2015-11-30 19:42] amalahussein commented on #67
@TheSavior thats good to know---I know the the non-babel rewire library, I would be able to change Hello into whatever I want... but I won't be able to do this babel-plugin-rewire? If not, is this feature part of the pipeline?

Thanks,
Amal

[2015-12-01 14:14] ernie opened #77 "ReferenceError: Can't find variable: _<whatever>Temp$Import"
Hi! I was trying out 0.1.23-beta-3 today and noticed that it doesn't seem to want to play nicely in my setup with Babel 5.8.33. No matter what I try, I'm seeing consistent reference errors relating to the name of the import.

I tried updating to Babel 6 and 1.0.0 beta, but ran into a host of incompatibilities with other modules I need (as I understand it that's not uncommon right now) so for now,

[2015-12-02 22:43] ernie commented on #77
It looks like I managed to sort it out. It turned out that mixing `.babelrc` and the plugin params was causing `babel-plugin-rewire` to load first. If I instead add it as the last item to load, things work as expected. Thanks!

[2015-12-02 22:43] #77 closed

[2015-12-03 04:24] dzucconi commented on #71
I've upgraded and all is working well. *Thank you.*

[2015-12-04 15:55] JoakimLofgren commented on #71
I can get my tests to run without isparta, but not with..

Anyone else experiencing that issue? (karma+webpack+isparta+rewire)

[2015-12-07 14:06] torarnek commented on #71
It is possible to have this beta released on npm.org? (I am looking very much forward to babel 6 support, but is limited to pulling npms from npm.org)

[2015-12-08 10:14] valscion commented on #71
@torarnek the beta is already released? I am myself using `1.0.0-beta-3` in my `package.json` and it works correctly. I think you can install the latest beta with `npm install babel-plugin-rewire@next`, and if the `@next` doesn't work, use the exact version number. As the plugin isn't yet out of beta, it won't be installed by just running `npm install babel-plugin-rewire` without specifying versio

[2015-12-09 05:46] doylem commented on #71
@speedskater a little delayed with other things, but in the end `beta-3` worked great for me. Thanks again!

[2015-12-09 17:41] joefiorini opened #78 "Error "Cannot read property 'some' of undefined" with "export * from ...""
I have a number of files in my codebase that use `export * from '...'` to export all imported dependencies. This breaks the latest beta saying that `node.specifiers` is undefined at line 62 of the transpiled `babel-plugin-rewire.js`, which corresponds to line 60 of the non-transpiled source.

[2015-12-09 18:25] joefiorini commented on #78
I opened #79, which fixes the parsing error, but I still get a runtime error when I try to run code with mixed export types. Ie. The following code:

[code]

produces the following runtime error:

[code]

[2015-12-09 22:02] speedskater commented on #71
@JoakimLofgren can you provide a concrete minimalistic example.
@torarnek it is only released as beta and has therefore to be specified explicitly. Thanks for @valscion for providing the detailed description. @warrenseymour @dzucconi @doylem thanks for testing and providing feedback.

[2015-12-09 23:31] doylem commented on #71
@speedskater how long do you want to beta test for? Any idea when we might have a final `v1.0.0` ?

[2015-12-10 18:50] joefiorini commented on #78
@speedskater I'm trying to reproduce this error with a test, but I'm running into an issue. I added a test to `usage-tests/BabelRewirePluginUsageTest.js` that uses a wildcard export, but when I run it with `npm test` I get the following error:

[code]

Just to try to isolate the problem, I added rewire to the babelrc and ran `mocha --compilers js:babel-register samples/wildcardExport/sample.js` an

[2015-12-13 23:31] dtothefp opened #80 "How to work with `babel-plugin-add-module-exports`"
I'm having a painful experience updating to Babel 6. Part of this is because Babel seems to have deprecated behavior

[code]

I was happy to find https://github.com/59naga/babel-plugin-add-module-exports but unfortunately when used in combination with `rewire` the `undefined` behavior returns. I'm trying to avoid having to go through my entire app and replace all instances of where I'm exporting/i

[2015-12-14 13:21] speedskater commented on #71
@doylem I will tackle the bugs occuring in the beta next monday and will than release a new beta. If  this works out I will the final 1.0 with beginning of next year.

[2015-12-15 19:01] bomatson opened #81 "TypeError: Plugin is not a function"
I see this error when using `gulp-babel` to build:

[code]

My `package.json`:

[code]

Stacktrace:

[code]

Looks like an issue with `pluginArguments` in `src/babel-plugin-rewire.js`. I'm assuming this is also related to changes in Babel6.

Any thoughts on a fix? Would prefer not to downgrade, I'm also down to tackle a PR

[2015-12-15 19:19] ssurana opened #82 "Cannot rewire jsx dependencies"
When using webpack + karma+ babel and react components in .jsx file. Rewiring dependencies is not working;

ChildComponent.jsx
[code]

ParentComponent.jsx
[code]

testSpec.jsx
[code]

karma.conf.js
[code]

[2015-12-15 19:40] ssurana commented on #81
Update "babel-plugin-rewire" to "^1.0.0-beta-2"

[2015-12-15 23:49] elayman commented on #71
The beta doesn't seem to play well with babel-polyfill: https://babeljs.io/docs/usage/polyfill/

I get the following error:
 Uncaught ReferenceError: get_ is not defined
  at <myWebpackEntryFile>:2257:0 <- webpack:///~/babel-polyfill/~/core-js/modules/$.has.js:3:2

When I comment out the babel-polyfill, I get no uncaught reference, but then my babel isn't transpiling some of my ES6 features, and m

[2015-12-16 04:00] rnicholus commented on #82
I'm seeing the same issue, plus a number of other bugs that have appeared since the update to babel 6. In some cases, modules imported into a JSX file are rewired properly, and others are simply not rewired. This was all working fine pre-Babel 6 and pre-1.0.

[2015-12-16 12:08] speedskater commented on #82
@rnicholus , @ssurana thanks for reporting the issues. Could you create PRs for cases when it fails. I will try to tackle these scenarios on monday and create a new beta then.

[2015-12-16 12:10] speedskater commented on #71
@elayman Thanks for reporting the issue. Could you please create a small sample? I will try to tackle your problem on monday before creating a new beta.

[2015-12-16 14:21] dtothefp commented on #71
this plugin also doesn't play nice with https://www.npmjs.com/package/babel-plugin-add-module-exports. Babel 6 stopped supporting https://phabricator.babeljs.io/T2212 `export default` behavior for destructuring Objects in the `import` statement, i.e.

[code]
instead
[code]
or just `export` differently
[code]
if I try the config below or swap `add-module-exports` to be first item in the array ahead

[2015-12-16 21:14] elayman commented on #71
@speedskater I have updated my comment with code snippets. Thanks.

[2015-12-17 03:19] rnicholus commented on #82
I suspect it would take me far longer than yourself to track down the specific issue in this library. However, I can offer a _very_ simple test case:

Component to test:
[code]

The test:
[code]

Actual output of the test:

Expected output of the test:

Relevant portion of package.json (dependencies):
[code]

Webpack loader entry:
[code]

Top of karma config, where rewire plugin is added before te

[2015-12-21 14:27] speedskater commented on #82
@rnicholus, @ssurana thanks for the reporting and the example. I converted it into a unit test sample so it should always be checked in the future.

[2015-12-21 14:28] rnicholus commented on #82
@speedskater - Thanks for this ! I'd love to test out this fix, but would prefer it be offered in a beta4 release. Do you plan on pushing a new beta to npm?

[2015-12-21 14:28] speedskater commented on #81
@bomatson I will close this issue, as it is invalid by using the latest beta.

[2015-12-21 14:28] #81 closed

[2015-12-21 14:34] speedskater commented on #82
@rnicholus I am fixing some further issues and will release a new beta today. Please have a look at https://gitter.im/speedskater/babel-plugin-rewire?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge. I will post a message as soon as a new beta is available.

[2015-12-22 10:30] nordisk opened #83 "Cannot get hold of private function in module"
Hi. We are trying to get hold of a private/internal function from a module with Rewire so that we can test that function without changing the implementation not its api in the test.js.

Here we are trying to get hold of `privateFunc` from `test.js` in `test.spec.js`. We cannot get hold of it.

[code]

Any clues? Cheers.
/cc @aarong11 @mark-berry-localstars

[2015-12-22 16:15] TheSavior commented on #83
It should work if you move privateFunc to the top level scope.

[2015-12-22 21:06] nordisk commented on #83
Thanks @TheSavior It worked. But putting `privateFunc` outside of the closure of Test() will make it global I guess.

[2015-12-22 21:09] TheSavior commented on #83
Global? It is only accessible inside of the file.

[2015-12-23 07:20] nordisk commented on #83
@TheSavior That is true for native ES6 modules/CommonJS environments. I guess transpiled code will have to use Browserify/WebPack in a browser context that would wrap the CommonJS export in a closure and expose only the exports.

[code]

Anyways, closing this down as the top-level tip seems to work. Thanks @TheSavior.

[2015-12-23 07:20] #83 closed

[2015-12-30 10:30] kbiedrzycki opened #85 "Rewire Flux stores which are singletons"
I am looking for solution how to use rewire babel plugin with Flux stores, which are basically singletons. According to this article http://bensmithett.com/testing-flux-stores-without-jest/ each rewire() call returns fresh singleton instance, but not sure how can I acheive same effect using babel plugin (or is it even possible?). I am also usign webpack configuration for that, as far as I saw I ha

[2016-01-04 19:42] jayfunk commented on #82
Any updates on this fix being in a release? I am running in the same issue.

[2016-01-05 15:04] trodrigues commented on #71
Hi there!

I just tried this out on a couple of projects which use babel-polyfill, babel-register in development mode, and isparta for coverage.

Isparta gives me a `No coverage information was collected, exit without writing coverage information` but I wonder if this is more related to isparta + babel6 than with this plugin, as there's also someone complaining of issues without referring this plu

[2016-01-05 16:20] trodrigues commented on #71
After having these issues with isparta, I decided to go have a look at the current work on istanbul to enable usage with babel, and it seems like there's been some activity. They have an alpha version which works fine with babel, so I decided to give that a try.

However, while that works, when using it with babel-plugin-rewire, the coverage drops a lot.

I'm still not entirely sure if the problem

[2016-01-05 17:17] elayman commented on #71
I got Istanbul working with Babel-plugin-rewire and Karma and webpack by making Istanbul run before Babel. I added Istanbul as a preloader and Babel + rewire plugin as a loader. Then the coverage doesn't worry about the injected rewire code.

[2016-01-05 17:42] dtothefp commented on #71
@trodrigues your explanation is not very useful for telling what the problem is, there are many interactions between Babel 6, Rewire, Isparta, and your test runner that could be causing your problem. I can confirm that Isparta works for me using Rewire, Karma, and Webpack.

Steps to make it work:
-  make sure that you `import/require` all of the files that you  want to run the Coverage report agai

[2016-01-05 18:00] adamdicarlo commented on #82
Also ran into this issue. At least when the top-level var is used as JSX component (`<Thing />`), it does not get rewired. I checked the generated code.

[2016-01-05 19:29] adamdicarlo commented on #82
There's a commit on master that looks like was intended to fix this bug, but it seems to make it worse for me:
[code]

Work around I'm using for now is to alias the top-level variable inside the render function:

[code]

[2016-01-05 22:30] speedskater commented on #82
I will have a short look at this issue tomorrow and will hopefully be able to ship a new beta then. If not I am doing an extended babel-plugin-rewire session on monday.

[2016-01-05 22:31] speedskater commented on #71
@dtothefp thanks for your explanation.

[2016-01-06 01:53] dtothefp commented on #71
@speedskater No problem figured I can save other people some time. Any chance you have any thoughts on the babel 6 module exports issue? https://github.com/speedskater/babel-plugin-rewire/issues/80

[2016-01-06 10:45] trodrigues commented on #71
@dtothefp ah, sorry, I could've definitely explained that better.

So in my particular case I'm not using Karma or Webpack. I have some tests which are a simple JS file which node runs on the command line.

Previously, with babel 5, I was running it like this:
`BABEL_ENV=test isparta cover test/runner`

With the following .babelrc:
[code]

It should be noted that `test/runner` was requiring the re

[2016-01-06 12:08] #26 closed

[2016-01-06 15:08] trodrigues commented on #71
Ok, so I might've been worked up over nothing here. After having given up on this I decided to actually look at the generated HTML coverage and realized that the results isparta was giving me were based on the transpiled code and are very misleading. Some parts of the code that my tests never touch were being reported as covered.

What that means is that the results I am getting now with istanbul,

[2016-01-06 15:28] joefiorini commented on #78
@speedskater any thoughts on the above error?

[2016-01-06 19:56] speedskater commented on #82
@ssurana @rnicholus @jayfunk @adamdicarlo Shipped a new beta 1.0.0-beta-4. Please let me know if it works for you. If any of you can confirm that this bug is fixed blease close this issue.

[2016-01-06 19:57] #72 closed

[2016-01-06 19:59] speedskater commented on #78
@joefiorini does 1.0.0-beta-4 fix your issue?

[2016-01-06 20:02] speedskater commented on #71
@trodrigues Thanks for reporting this. Could you please create a section in the readme documenting the integration with istanbul?

[2016-01-06 20:05] speedskater commented on #80
@dtothefp I haven't considered this till yet. I will have a look at it on monday, but i cannot guarantee that I will be able to fix you issue (highest priority is to keep in line with the babel 6 behavior and the es6 standard).
.

[2016-01-06 20:16] speedskater commented on #28
@0x80 @kibin @jorispz @CrazyUmka @TheSavior @Dygerati @adamdicarlo Please all have a look at the latest beta 1.0.0-beta-4 . Could you please let me know if this solves your issues.
Regarding the case of wildcard imports used in combination with reducers as mentioned in the previous comment it is still not fixed. And imho it is not possible to fix this issue. Therefore does any of you object if we

[2016-01-06 20:29] speedskater commented on #85
@kbiedrzycki sorry for the late answer. Regarding your request using this plugin you are not able to retrieve a fresh singleton, but you can rewire all local variables and all imports used inside of the module where the singleton is located. Maybe this will allow you to achieve your required behavior.
Another approach is to use an architecture like redux where stores are simple reducer function wh

[2016-01-06 21:00] TheSavior commented on #85
@kbiedrzycki It might make sense to use something meant for that like:
https://github.com/nazomikan/require-without-cache
https://github.com/yuri0/require-nocache
https://github.com/hughsk/fresh-require

[2016-01-07 02:46] jakemmarsh opened #87 "Duplicate declaration "typeOfOriginalExport""
Seeing the error `Duplicate declaration "typeOfOriginalExport" (This is an error on an internal node. Probably an internal error)` when using proxyquire. Looks to be covered in #84

[2016-01-07 07:17] rnicholus commented on #82
@speedskater This new version appears to cause new issues. In fact, I can't even compile my app with webpack/babel anymore. Downgrading to beta3 allows me to at least generate webpack bundles with babel.

Here's an example of a new error I'm seeing:

[code]

I'm seeing _a lot_ of similar errors.

[2016-01-07 07:53] speedskater commented on #82
@rnicholus thanks for testing. Could you please provide the corresponding index.jsx file?

[2016-01-07 09:18] rnicholus commented on #82
@speedskater I've updated my comment to include the code from index.jsx.

[2016-01-07 09:53] speedskater commented on #82
@rnicholus thanks for the sample. I will have a look at it asap (latest on monday).

[2016-01-07 14:51] jorispz commented on #28
@speedskater sorry to hear that it can't be fixed, but I'm fine with closing this issue. Thanks for the help!

[2016-01-08 00:00] dtothefp commented on #71
@speedskater unfortunately :cry:  some craziness has been going on with Babel 6 again, looks like. `6.4` had some breaking changes for class properties. Not sure if what has happened in `6.4` is the issue but `1.0.0-beta-4` definitely is breaking for me, maybe related to the new peerDep `babel-plugin-syntax-jsx`

https://phabricator.babeljs.io/rBCd2f5a409daa0d2dcd6cff44d07aaac5d7a0d24b8

[code]

[2016-01-08 11:34] valscion commented on #71
Maybe the default caret versioning of `peerDependency` babel packages is too wide a version range for this plugin..? Seems like even semver minor version upgrades have the possibility to cause breaking changes, causing bugs like these to crop up :persevere:.

 @dtothefp can you try a version of `babel-plugin-rewire` with the peerDependencies changed to `6.3.x` version instead of e.g. `"babel-plugi

[2016-01-08 18:35] RB-Lab commented on #28
I can confirm that in 1.0.0-beta-4 problem seems disappeared.

[2016-01-09 17:29] kellyselden opened #89 "beta 4 changelog"
Would do myself but I'm not familiar with the commits.

[2016-01-11 10:22] #82 closed

[2016-01-11 10:24] speedskater commented on #82
The problem is fixed. I will publish beta 5 today in the afternoon. Have a look at the gitter chat when the new version is pushed.

[2016-01-11 12:04] speedskater commented on #87
@jakemmarsh The testcase of #84 is covered in the current code base. Now its up to proxyquire to work correctly with babel plugin rewire.

[2016-01-11 12:04] #87 closed

[2016-01-11 12:10] speedskater commented on #71
@dtothefp, @valscion it wasn't an issue with babel. I think it was a regression of my initial attempt to fix #82 (sorry ;) ). I think it is fixed now. Will release a new beta 5 later today. So please keep a look at the gitter channel for the update.

[2016-01-11 12:31] speedskater commented on #80
@dtothefp. Sorry but I will close this issue for now and will not add any special behaviour for handling common.js default export.

Imho if your goal is to switch to prure es2015 you will eventually have to bite the bullet and switch your legacy code anyway. The reason why this plugin will not work is, that it adds further exports which will be lost in case of rewriting the default export.
Moreove

[2016-01-11 12:31] #80 closed

[2016-01-11 12:51] speedskater commented on #85
@kbiedrzycki. Sorry that i couldn't help more but I will close this issue.

[2016-01-11 12:51] #85 closed

[2016-01-11 14:15] speedskater commented on #78
@joefiorini I see the problem as well as the error potential. But to fix the problem won't be any easy task. But I have an idea how to solve it and will tackle it on Feburary the 1st (sorry for the delay but then i will have again a whole day dedicated for  babel-plugin-rewire).

[2016-01-11 14:34] speedskater commented on #28
@jorispz maybe the wildcard export can be tackled, see #78. But it could take another three weeks and could break the rewire API.

[2016-01-11 14:54] jorispz commented on #28
@speedskater don't worry about it - we refactored things around a bit to work around this issue, so don't fix it on my behalf (though feel free to do so regardless :-)

[2016-01-11 15:25] #89 closed

[2016-01-11 15:40] dtothefp commented on #71
@speedskater fixed my issue, thanks

[2016-01-11 15:42] dtothefp commented on #80
@speedskater no problem, we manually fixed these issues a while back. Was a painful process but all is good now. Just thought it might be interesting to try and specify how Babel plugins work together. It seems this is often an issue for people, that they add a plugin and it doesn't play nice with another plugin.

[2016-01-12 01:06] kristian-puccio opened #91 "Webpack + Karma"
Hi,

I'm trying use this with Karma + Webpack and get the following error:
[code]

The relevant config is:
[code]

When I remove the plugins line in the query the error goes away. I'm using babel 5.
Not sure how to give you more info but I realise this isn't that helpful.

[2016-01-12 09:41] zh3 opened #92 "Syntax error using switch statement with jsx"
When using `babel-plugin-rewire@1.0.0-beta-5`, `react@0.14.5` and babel 6 the following switch statement containing jsx
[code]
Results in an error when transpiling
[code]

Failing test case by @ahutchings #90

[2016-01-14 22:10] TheSavior commented on #92
This is currently the part keeping us from being able to upgrade to babel 6 as well.

[2016-01-15 22:06] srph commented on #71
Hey, I'm trying out `v1.0.0-beta-5` now. I wonder why this issue isn't closed yet?

[2016-01-19 04:49] rnicholus commented on #82
Beta5 fixes the original issue and does not create any new issues, as far as I can tell. Seems to be ready for 1.1.0 to me.

[2016-01-19 04:49] rnicholus commented on #71
Beta5 seems to be gold. I'm ready for this to be a 1..01 release on my end.

[2016-01-19 11:06] samouss opened #93 "Error: Can't find variable VARIABLE_NAME"
Hi,

I try to setup my test workflow with `babel-plugin-rewire` but I'm encounter some trouble.
I'm using it in Karma and I use the version `1.0.0-beta-5`.

I have the following module:

[code]

Which will be transpile to (I cut the file for the example):

[code]

Okay, so when the function `_get__` will be called with value `'getDisplay'`, it'll check if an override exist, if it does, it return t

[2016-01-19 22:31] karlnp commented on #78
ES6 modules are read-only, which is why it doesn't have a setter.

[2016-01-19 22:33] karlnp commented on #78
@speedskater would you be willing to outline your idea? i'm stuck on this incompatibility between ES6 modules and mocking libraries and I don't know how to proceed, so I would love to create a PR if it means I can use this plugin to make unit tests.

[2016-01-19 22:35] karlnp commented on #91
Have you tried removing the trailing comma on the second loader definition?

[2016-01-19 22:35] karlnp commented on #91
And on the plugins line, actually.

[2016-01-19 22:37] kristian-puccio commented on #91
Pretty sure that isn't it as I use trailing comma's everywhere.
But I have updated to babel 6 and now this works perfectly using beta 5 so I'm going to close this.

Thanks!

[2016-01-19 22:37] #91 closed

[2016-01-20 00:50] balmasi opened #94 "Parser failing with ES6 code"
Hi,

I was trying to add rewire to my babel project by it keeps failing.

The exact procedure I followed was (babel is installed globally):

``` npm install --save-dev babel-plugin-rewire ```

running app got me:

[code]

So I did `npm i -D babel-core` and tried again which got:

[code]

I'm starting my app using `nodemon --exec ./node_modules/.bin/babel-node server.js`
my **.babelrc** file looks

[2016-01-20 22:24] speedskater commented on #94
@balmasi have your tried the latest beta?
If yes could you please provide a PR with a minimum sample causing the issue.

[2016-01-20 22:27] speedskater commented on #93
@samouss Good point. I was not aware that exported functions are not inside of a closure. Are you using any other plugins beside the rewire plugin?

[2016-01-20 22:29] speedskater commented on #92
@zh3 thanks for the report. @TheSavior I will have a look at it asap but i think it will not be before next 	wednesday.

[2016-01-20 22:33] speedskater commented on #71
@rnicholus. @srph. @dtothefp  Thanks for your feedback. As some further issues have occured. I will have a look at the project on next wednesday or thursday and will try to ship one more beta. If no more show stopping bugs occur then i will switch to an rc-1 without a beta flag to get more feedback.

[2016-01-20 22:41] speedskater commented on #78
@karlnp thanks for your feedback. The idea is to add an additional library to each es6 module and use this library to register all dependencies which can be rewired in this module. The next step would be in your test to import this helper library and use calls exported on this library to actually rewire the needed dependencies. My biggest issue with this idea at the moment is. That I have currentl

[2016-01-20 23:09] karlnp commented on #78
Well, I know that @logansfmyth wanted some feedback on this: https://www.npmjs.com/package/babel-plugin-transform-module-exports-reflection so it might give you some insights or a head start - I haven't gotten to implementing it yet.

[2016-01-21 02:30] karlnp commented on #78
I fixed my issue, so I may have some free time available to try my hand at a PR.

[2016-01-21 14:21] samouss commented on #93
I'm using it with `transform-es2015-modules-systemjs`.

I transpiles my files without him and the variables are available.

[2016-01-21 20:28] balmasi commented on #94
Sure I can, but before I do, I tried it with  *^1.0.0-beta-5* and now I'm getting a new error, maybe you're familiar with this one already, if not, let me know and I'll try to reproduce a minimal sample.

[code]

[2016-01-26 05:57] kiaking commented on #71
Is it correct that without this fix we can't use babel-plugin-rewire with Babel 6 or do we have any workaround?

[2016-01-26 06:02] srph commented on #71
What do you mean? The latest version (beta) works great

[2016-01-26 06:04] kiaking commented on #71
@srph Oh I see. I'll use beta then. Thanks.

[2016-01-26 15:27] albertogasparin opened #95 "Code coverage reports altered - 100% coverage not possible anymore"
`babel-plugin-rewire` instrumentation is not ignored by istanbul (and as a consequence it affects also  isparta, nyc, etc). So, reports are wrong and it is no longer possible to get 100% code coverage, even if the source code gets properly tested.
The issue is even more accentuated when babel option `retainLines: true` is set.

I have created a clean test project to let you play around: [babel-plu

[2016-02-01 08:12] speedskater commented on #78
@karlnp sorry for the late reply and thanks for your offer. I have had a look at babel-plugin-transform-module-exports-reflection but it seems that it does exactly the same as this plugin. I am investigating some ideas of how to resolve this issue and will let you know later on.

[2016-02-01 08:13] speedskater commented on #91
@kristian-puccio thanks for your feedback.

[2016-02-01 08:14] speedskater commented on #94
@balmasi do you have a sample code, which couses this error?

[2016-02-01 14:53] speedskater commented on #93
@samouss I have to look deeper into it, but i am planning to support it.

[2016-02-01 14:56] speedskater commented on #93
@samouss could you possibly change the  order in which you apply your plugins (babel-plugin-rewire first)?

[2016-02-01 17:38] samouss commented on #93
I tried, but it's doesn't do anything.

[2016-02-03 22:22] danosaure commented on #71
I'm not too sure how to use this plugin. I do not want to add it in my .babelrc because I only want to use it for my tests. Can someone help me out and show me where to define that plugin with the following command line:

./node_modules/.bin/babel-node node_modules/.bin/babel-istanbul cover --config=istanbul.json --dir coverage/unit node_modules/.bin/_mocha -- 'src/**/*.spec.unit.js'

For the curi

[2016-02-04 08:37] trodrigues commented on #71
@danosaure if that doesn't work, you can try with the full name, such as `babel-node --plugins babel-plugin-rewire`.

In any case, you can have it in your `.babelrc` if you follow the example [here](https://github.com/speedskater/babel-plugin-rewire#combining-with-other-pluginstools).

This is is for instance how one of my configs looks like:
[code]

and then you just run `BABEL_ENV=test babel-nod

[2016-02-05 13:55] jayasurian123 commented on #71
I am using beta 5 but i have the same problem now also.
this is my webpack config
[code]
I have moved the config to .babelrc also. But no luck. I am not sure i m configuring it wrongly or the packages have problem!

[code]

Once i have removed this code it would compile.
[code]
i am really confused!

[2016-02-05 14:22] ajbradley commented on #71
Hi All - trying to integrate this plugin with Mocha tests and running into Temporal Dead Zone issues in the generated code.
Running on Linux/Ubuntu with node 4.2.6, Babel 6, and a .babelrc containing:
[code]

The code causing the problem is:
[code]

When looking at the generated code, the _get__ is called, before the _RewiredData__ is declared:
[code]

This generates a runtime error:
[code]

While

[2016-02-06 01:51] srph commented on #71
@ajbradley - That's weird, here check this [Babel Playground](http://babeljs.io/repl/#?experimental=true&evaluate=true&loose=false&spec=false&code=let%20_RewireData__%20%3D%20%7B%7D%3B%0A%0Afunction%20_get()%20%7B%0A%20%20return%20_RewireData__%3B%0A%7D).

[2016-02-07 03:45] ajbradley commented on #71
You can find a demo repo that illustrates the TDZ errors at [ajbradley/babel-plugin-rewire-issue71](https://github.com/ajbradley/babel-plugin-rewire-issue71)

[2016-02-07 11:35] erykpiast commented on #78
I've just encountered this problem and what I see is:

Currently all exports from module you want to reexport are assigned to `exports` object of "reexporter" module, including properties added by Rewire. So when you try to add those things again, error is thrown.

The easiest solution I found is to filter those properties when reexporting. But until reexporting is handled by Babel itself it doesn

[2016-02-07 12:24] speedskater commented on #71
@srph thanks for answering the question.

@ajbradley thanks for providing the sample code. I will have a look at the TDZ issues asap (I think replacing the lets with vars should fix this issue)  but I think it will take me about a week to get to fix this issue.

[2016-02-07 12:35] speedskater commented on #78
@erykpiast thanks for your suggestion. I am not 100% sure if i understood your suggestion. Could you please provide a small code sample.

I have already implemented a feature which filters all wildcard imports. I will try to use the technique for reexporting, but i am not sure, whether this makes sense in combination with lazy module evaluation. We will just have to try.

[2016-02-07 13:17] erykpiast commented on #78
I've just added MWE for this issue: https://github.com/speedskater/babel-plugin-rewire/pull/96. What I'm proposing is to use `Object.defineProperty` (like in `addPropertyToAPIObject` runtime function) instead of creating `exports` object using regular property assignment (ex. `exports.__get__  = __get__`). I'm working on it now, will see if it's valid solution.

[2016-02-07 13:30] erykpiast commented on #78
Ok, I can see it now... `exports.__get__ = __get__` is generated by Babel from `export { __get__ }` added by Rewire. If we don't want to make assumption that `exports` object exists in module scope (I guess we don't want to), we can't use this `Object.defineProperty` approach.

[2016-02-07 14:15] speedskater commented on #78
@erykpiast thanks. You are right finding a solution which works independent of the underlying module system is the way to go.

[2016-02-07 14:41] srph commented on #71
@ajbradley
Oh, I see. For the meantime (and of course you should) -- use the import destructure syntax.
[code]

@speedskater
A week? Is there any issue? If not, I can take a look if there's anything I can do ;).

[2016-02-07 14:43] speedskater commented on #71
@srph that would be great. No there is no specific issue about it. Its only because of my (a bit tight ;) ) schedule.

[2016-02-08 14:10] brutcha commented on #92
+1

[2016-02-10 09:38] redking commented on #92
I'm encoutering the same problem - I've prepared a simplified test case:

https://github.com/redking/babel-plugin-rewire-bug

Note that I'm not actually using rewire mocks in the tests themselves - it's enough to include `babel-plugin-rewire` in the list of plugins in `.babelrc` to see the error. Remove it from the list and the error no longer occurs.

[2016-02-10 19:25] speedskater commented on #92
@redking thanks for providing the test.

[2016-02-11 00:43] kellyselden opened #97 "Possible to remove/extract jsx/react dependencies?"
I was using 1.0.0-beta-3 on a few node/babel server apps. When I updated to 1.0.0-beta-5, I noticed all the new jsx and react dependencies. Would it be possible to move them to a dependent project, like "babel-plugin-rewire-react", as they aren't required for babel mocking?

[2016-02-11 13:01] redking commented on #92
No problem - I just noticed there's a pending pull request on the same issue, so it's not much use in the end :)

[2016-02-12 00:20] GreenGremlin commented on #93
I'm having a similar issue. I'm exporting named functions as well as a default export. What I see is that in the transpiled version the exports property is set to the function variable before that variable is defined.

[code]
My src looks something like this:
[code]

[2016-02-12 00:23] GreenGremlin commented on #93
Relevant items from package.json
{
    "babel": "^5.8.21",
    "babel-core": "^5.8.22",
    "babel-eslint": "^4.1.6",
    "babel-loader": "^5.4.0",
    "babel-plugin-object-assign": "^1.2.1",
    "babel-plugin-react-transform": "^1.1.1",
    "babel-plugin-rewire": "^0.1.22",
    "webpack": "^1.12.2"
}

[2016-02-12 01:04] spncrlkt opened #98 "TypeError on named re-exports"
I'm using babel-plugin-rewire, and really like it! I ran into the following blocking issue.

If I do a named re-export like:
[code]
I get the following error:
"TypeError: (...)/dev/rewire-example/exports.js: Cannot read property 'name' of undefined"

---
Possible solution:
when i change the following line in the installed node_module, the error goes away. Seems like on re-exports, `specifier.local

[2016-02-12 01:10] idolize commented on #78
Is the Babel bug completely blocking progress on this issue?

[2016-02-12 09:45] erykpiast commented on #78
I think so.

2016-02-12 2:10 GMT+01:00 David Idol <notifications@github.com>:

[2016-02-15 13:51] jhollingworth opened #100 "Unexpected token 'var' with switch statement"
I've come across an odd edge case with switch statements where the parse will throw "Unexpected token var" (Potentially related to #4)

[code]

Versions:

* babel-core: ^6.3.15
* babel-loader: ^6.2.0
* babel-preset-es2015: ^6.3.13
* babel-preset-react: ^6.3.13
* babel-runtime: ^6.3.19

[2016-02-15 17:04] TheSavior commented on #100
Looks like a duplicate of https://github.com/speedskater/babel-plugin-rewire/issues/92

[2016-02-17 11:50] GulinSS commented on #71
@ajbradley as a quick workaround add `transform-es2015-block-scoping` to your plugin list in `.babelrc`.

[2016-02-17 15:26] ajbradley commented on #71
@speedskater @GulinSS  Thanks for the response - my concern about this approach (the solution of changing '`let`' to '`var`') is that the initialisation for the export is not hoisted along with the declaration. i.e.
[code]

Here, while the declaration is hoisted to the top of the scope, AFAIK the initialisation remains at the end. This means that the line:
[code]
is the same as:
[code]

I had chan

[2016-02-18 09:36] jonashartwig commented on #87
Hi, I get this error too but I am not using proxyquire.

modules:

  "devDependencies": {
    "babel-core": "^6.5.1",
    "babel-loader": "^6.2.3",
    "babel-plugin-rewire": "^1.0.0-beta-5",
    "babel-polyfill": "^6.5.0",
    "babel-preset-es2015": "^6.5.0",
    "babel-preset-react": "^6.5.0",
    "babel-preset-stage-0": "^6.5.0",
    "chai": "^3.5.0",
    "chai-things": "^0.2.0",
    "copyfiles

[2016-02-18 09:42] erykpiast commented on #87
Use "````javascript" ;)

[2016-02-19 07:16] speedskater commented on #98
@spncrlkt I would prefer not to work with stage-1 export. What do you think about the solution proposed in https://gitter.im/speedskater/babel-plugin-rewire do only work with a sinlge named export containing all the API and a codemod transferring the existing code to it?

[2016-02-19 07:38] speedskater commented on #71
@ajbradley I think you are right. My currently suggested approach is to change the API to a single exported api object, without nonenumerable exports and modifying the default export. (please see https://gitter.im/speedskater/babel-plugin-rewire). To remove the burden to switch to the new API, I am currently preparing a codemod, which should transfer existing code to the new API.

In this case swi

[2016-02-19 07:47] speedskater commented on #97
@kellyselden at the current state I would prefer to leave the dependency babel-plugin-syntax-jsx as a peer dependency of the plugin (it is the only required react/jsx runtime depenendency). The reason is that without this dependency rewiring code containing jsx statements does not work at all.

See https://github.com/speedskater/babel-plugin-rewire/issues/82 for further details.

Theoretically it

[2016-02-19 07:48] TheSavior commented on #98
A named export would imply a different API than [rewire](https://github.com/jhnns/rewire) itself, unless you still `Object.defineProperty()` to the default export. It is imperative to not break compatibility with the API rewire provides because there are many modules that are built on top of it, such as [privatestate]https://github.com/wealthfront/privatestate] which depend on the shared API of re

[2016-02-19 16:23] speedskater commented on #98
@TheSavior thats true. But in my optionion the main focus of this project should be to provide the best mocking functionality for es6 code, regardless of the used module implementation. The named export module/api object will iteslf be API-compatibel with rewire. Hence to provide backward compatibility it is simply a matter of reexporting this object as the default export and batch it on the defau

[2016-02-19 21:26] spncrlkt commented on #98
@speedskater Provided babel-plugin-rewire can accommodate my code under test (containing named wildcard exports, as above), I have no opinion on what the rewire API looks like. Whatever you think is best. I just want to use stage-1 exports.

Thank you for all your hard work!

[2016-02-22 12:03] speedskater commented on #71
Hi all.
I am currently stuck in providing a decent solution, which using babel only can generate a rewireing API which works for code containing wildcard exports or reexporting default exports. The problem is, that I have found no way, to uniquely identify another source modul without using and additional export.
Does anybody have an idea, how a module system independent solution could look like w

[2016-02-22 12:26] trodrigues commented on #71
I'm not sure I entirely understand the problem (more specifically the part about reexporting default exports).

In any case, I think I would be fine with specifying absolute paths, and I think it makes the code more obvious to look at and less magical (as in, you're never wondering if it's guessing stuff and if there could be some name collision somewhere).

I recently had to write a [test](https:

[2016-02-22 13:08] speedskater commented on #71
@trodrigues Thanks for your feedback. I think I might need to explain the problem a bit more detailed.

In an ideal world it would be perfect to write something like this:

[code]

The Problem is that somehow we need to access the rewireapi for the path 'path/to/module'. Until now we patched the api on the default export of the module specified in 'path/to/module' and furthermore added a named exp

[2016-02-22 13:12] speedskater commented on #98
@TheSavior, @spncrlkt The problem regarding reexports and the rewire plugin approach itself is more severe as I have initially thought.
If you have any idea on how we can progress (keeping in mind that the approach must work regardless of the module system) please participate in the discussion on how we can come to a general es6 solution: https://gitter.im/speedskater/babel-plugin-rewire or here h

[2016-02-22 17:40] TheSavior commented on #71
@speedskater Thank you for laying out the problem so clearly.

From my experience working on the other rewire packages, there were two points to the philosophy that I want to mention.

1. Since the user is Rewiring in test, the user is typically only rewiring their own modules.
2. Don't fail on other modules.

So to your point about being unable to rewire a primitive, constant, or frozen javascrip

[2016-02-23 09:00] speedskater commented on #71
@TheSavior Thank you for your extensive feedback.

You are definitely right that all boils down to the case (which is

export * from 'path/to/module/b'
export * from 'path/to/module/c'

as "import *" cases could be worked around.

I like your point about users only rewire modules of their own and maybe we should look at the problem from different angle. What if we specify /* @moduleId=/mySpecial/M

[2016-02-23 18:58] TheSavior commented on #71
@speedskater

In general, ES2015 duplicate wildcard exports with conflicts shouldn't throw, right? I believe the last one wins, but doesn't throw due to a conflict. So what that would mean is that the rewire export might not be what you expect, but it should at least not throw, right?

My understanding is that the only goal of your approach with the comments it to whitelist the modules to add the

[2016-02-23 19:14] speedskater commented on #71
@TheSavior Regarding es2015 duplicate exports as far as i have tested this is not the case. The last one does not win, but it results in an error.

the idea of the comment is to generate code like the following

[code]

in the actual test you can than lookup the module api by its id without the need to provide an additional export or changing the default export.

[2016-02-23 21:25] tomatau commented on #98
:+1:  hoping a good solution can be found soon!

[2016-02-24 03:58] TheSavior commented on #71
@speedskater I don't have the context that you have, so perhaps it is worthwhile to take a step back first.

The topic of this issue is purely to work with babel 6. My understanding is that it is not a goal of the ticket to request additional features or capabilities, but to simply work with babel 6.

Was there anything inherently different about babel 6 that is keeping us from having the same cap

[2016-02-24 07:14] boneskull commented on #97
I also would like to see `babel-plugin-syntax-jsx` removed as a peer dependency, as it's perfectly reasonable to use this module without React.  Besides, if you're using JSX, wouldn't you install that module *anyway*?

[2016-02-27 11:30] speedskater commented on #97
@boneskull, @kellyselden I will have a further look if it is possible to remove the peer dependency.

[2016-02-27 11:36] speedskater commented on #71
@TheSavior I think you are right, that it would make sense to have a new intermediate babel 6 version out there to remove the pressure of finding a new approach.
In this case I would say, I will fix the jsx switch issue first, will than close this issue and create a new version which will be a non beta version. Furthermore we will create new issue where we will discuss the remaining issues to be e

[2016-02-27 15:22] kellyselden commented on #97
@speedskater Awesome thank you!

[2016-02-27 22:02] TheSavior commented on #71
That all sounds great to me.

Re version numbers, I don't particularly care. Version numbers don't really mean anything as long as we follow semver. I don't see any particular reason to stay below 1.0.0 and just bump to 2.0.0 if we have to change the API and can't resolve things without breaking compatibility.

[2016-02-28 20:53] ajwhite opened #102 "Decorator discussion"
This is meant to be a discussion for future support as more ES7 features become standardized.

Currently every import comes bundled with the `Rewire` API. In order to rewire components, the rewire api is called and provided with the mock.

### Decorators as Rewire

[code]

This is purely hypothetical, but the idea is to harness decorators and apply the Rewiring capabilities at the time of trasnpil

[2016-02-29 08:26] erykpiast commented on #102
It might work if decorators may be used with `import` statements. As far as I know they are designed for classes and methods.

I guess it doesn't really matter, it's implementation detail. I think what you are proposing is to move rewiring process to, lets say, "import stage" (opposing to current "post-import" approach). I saw something similar in [proxyquire](https://github.com/thlorenz/proxyquir

[2016-02-29 09:33] zh3 commented on #92
Attempted to fix this #103

[2016-02-29 11:15] culshaw commented on #95
I've had this problem using normal rewireify too. There is a solution in wrapping the rewireify lines with `/* istanbul ignore next */` would bring the coverage back to reasonable levels (hopefully).

[2016-02-29 12:10] culshaw commented on #95
@albertogasparin see pull request here: https://github.com/i-like-robots/rewireify/pull/22

[2016-02-29 18:54] albertogasparin commented on #95
So it looks like this PR was proposing the right solution: https://github.com/speedskater/babel-plugin-rewire/pull/52
@speedskater, @DLMR and @TheSavior any chance to have this fixed?

[2016-02-29 20:04] speedskater commented on #95
@albertogasparin From my point of view it will be considered. But we first of to ship a working version with babel 6 support. I hope this answer is not too disappointing for you.

[2016-02-29 20:05] speedskater commented on #92
@zh3 thanks for providing the pr. I will try to merge it before the end of this week.

[2016-02-29 20:09] speedskater commented on #102
@ajwhite, @erykpiast Thanks for starting the discussion.
@ajwhite I think this moves along the directions of the current discussion how to support all es2015 (currently in the babel 6 issue). I think we should be really careful when altering coded.
Maybe a comment in the head of the file which should be rewired (as proposed in babel6 bug as well as on bitter should be sufficient). what do you thin

[2016-02-29 20:10] speedskater commented on #71
@TheSavior sounds fine for me too. But maybe we should start to deprecate api like Rewire and GetDependency instead of the more familiar __get__, __set__

[2016-02-29 20:12] TheSavior commented on #95
I still have my same concern. It seems like it shouldn't be the responsibility of this plugin to add specific code to support all other plugins. If we add comments to our code to ignore istanbul and another thing comes along, we shouldn't have to continuously modify this plugin.

As a possible solution to this, I could imagine another plugin that runs before this one that adds a comment to the beg

[2016-02-29 20:14] speedskater commented on #95
@TheSavior what about a pluggable approach, Providing a hook, for generating comments on generated code? So it is the responsibility of the plugin using this hook to generate the correct comment.

[2016-02-29 20:18] ajwhite commented on #102
Could you link a reference or explain that a little further? I'm not quite sure what you mean by this :blush:

[2016-02-29 20:20] TheSavior commented on #95
Hmm. I'm not familiar with babel plugins providing hooks to other babel plugins. Is that what you are proposing?

[2016-02-29 20:21] TheSavior commented on #71
:+1:

[2016-02-29 20:22] speedskater commented on #102
It would be enough to add something like /* @rewireModuleId=MySpecificModuleId */ at the top of a file which would you like to rewire.
After that you would just have to call something like rewire('MySpecificModuleId').__set__('Dependency', myMockedApi).

[2016-02-29 20:25] ajwhite commented on #102
Oh I see. So little flags for the compiler? I'm assuming Babel would pick these up and generate code for component to be rewireable?

[2016-02-29 20:32] TheSavior commented on #102
@ajwhite Yeah, that was one approach we have been considering

[2016-02-29 20:51] erykpiast commented on #102
I prefer approach similar to current one, at least in terms of ability to rewiring module multiple times. It gives me more possibilities of arranging code in my tests.

Proposed identification mechanism looks great, but personally, I don't like custom syntax. If we really need it (I don't see another option so far), maybe it may use some already adapted concepts. I work with Webpack for a while, i

[2016-02-29 20:53] speedskater commented on #102
I think we need some kind of approach which is independ of the module loader (e.g. webpack or similar)

[2016-02-29 21:07] erykpiast commented on #102
Hm, what I proposed is not to use Webpack loaders, but create custom syntax similar to what people know. Inserting Rewire ID inside module URL makes sense for me. In my opinion it's the most explicit way of declaring such thing, util it's required to place that `// @` comment right next to module import statement.

[2016-03-03 19:48] danawoodman commented on #71
For prosperity's sake, I was getting the same error @dtothefp was getting (eg `TypeError: _get__(...) is not a function`) and the issue was that I had a `require('...')` statement without for a file that exported `default`:

File `mylib.js`:
[code]

File `somethingelse.js`:
[code]

Threw an error. The resolution was simple, either:

- Change `require('./mylib')` to `require('./mylib').default`
- C

[2016-03-04 15:45] culshaw commented on #95
@TheSavior I agree with you about how it isn't the plugins responsibility. It also feels very hacky to be squirting in comments defined by a user in a config file or as a hook for other plugins to latch onto.

The only way I know of which would negate the need for these comments is to process the files, write them to a location then load them with istanbul afterwards. I have that working but it is

[2016-03-06 09:20] #92 closed

[2016-03-06 09:21] speedskater commented on #92
@zh3 thanks for the fix it is merged. I extended it to work for nested switch statements as well.

[2016-03-06 09:42] speedskater commented on #78
@joefiorini, @idolize , @erykpiast, @karlnp  sorry that we are stuck in this matter but we first try to ship a new version of the plugin including babel 6 support and will start than about finding a solution. how we can getting around polluting existing exports. We had a discussion about the next steps in the gitter chat (https://gitter.im/speedskater/babel-plugin-rewire). Maybe we should discuss

[2016-03-06 09:43] speedskater commented on #102
@erykpiast could create a comment with a small sample outlining your idea?

[2016-03-06 09:45] speedskater commented on #100
@jhollingworth, @TheSavior seems for me too, that this is a duplicate. As the issue was just fixed and will be featured in the RC1 which will be published today. I will close this issue for now.

[2016-03-06 09:45] #100 closed

[2016-03-06 09:47] speedskater commented on #98
@spncrlkt I have merged your fix into the master branch. Thanks for your PR. I think we will still have to find a way how to proceed without polluting existing named exports but it will be a task for the upcoming releases.

[2016-03-06 09:47] #98 closed

[2016-03-06 09:50] #97 closed

[2016-03-06 09:57] speedskater commented on #97
@kellyselden, @boneskull I left the react, jsx dependencies as dev dependencies but removed them as a peer depedency. Therefore the plugin itself provides the needed behavior without polluting your existing projects.

[2016-03-06 09:58] speedskater commented on #94
I will close this bug for now. If you can provide a sample describing your error in more detail, I will reopen it.

[2016-03-06 09:58] #94 closed

[2016-03-06 10:00] speedskater commented on #71
@danawoodman thanks for providing the hin.

[2016-03-06 10:02] jhollingworth commented on #100
:+1: thanks

[2016-03-06 10:19] speedskater commented on #41
I will close this issue for now.

[2016-03-06 10:19] #41 closed

[2016-03-06 11:06] speedskater commented on #71
@ajbradley, @srph To be able to finally publish a working babel 6 version. I reconsidered the tdz issues and replaced RewiredData by a var declaration and moved the declaration of the RewireAPI at the beginning of the generated code. I hope that this fixes all tdz issues.

[2016-03-06 11:10] speedskater commented on #93
sorry for the delay, but I have to ship the babel 6 api before. So it will take some more time till we get the System.js issues. But it won't be forgotten.

[2016-03-06 11:17] speedskater commented on #67
@amalahussein Sorry for the very late reply. As far as I have understood you want to rewire global variables. As you are can change global variables by using simple code like
[code]
or by using libraries which make this easier for you we have decided that we do not want to rewire global variables. Instead we rewire inter as well as first level intra file dependencies.

Therefore I will close this

[2016-03-06 11:17] #67 closed

[2016-03-06 11:22] speedskater commented on #28
By now we fixed wildcard imports as well. so we will close this bug. Keep in mind that having multiple wildcard exports in the same file is currently not supported by the plugin.

[2016-03-06 11:22] #28 closed

[2016-03-06 11:47] speedskater commented on #71
It took longer as expected but we finally pushed 1.0.0.-rc-1 as a default version to the npm repository.
Hence, I will close this issue.

[2016-03-06 11:47] #71 closed

[2016-03-06 13:09] erykpiast commented on #102
Sure thing!

I have something like this in mind: https://gist.github.com/erykpiast/ddb090a9ee418e768aa6

API similar to Webpack loaders (`loader?parameter=value!`) is just an example, I guess we can't use it actually until we create actual loader, because Webpack will parse it by itself and try to find that loader.

Anyway, the concept is to identify module directly when importing it and do it in

[2016-03-06 13:25] speedskater commented on #102
Thanks for providing the gist. I like the api in example.spec.js. This is indeed similar to the api i have intended.

Regarding the part in my-module.js. I think this won't workout. As you explained before we do not have the id. The part with Rewire.set I think can be replace by Rewire.set('moduleId', __RewireAPI__).
The approach you sketched in line 12 was the original approach we used in this pl

[2016-03-06 13:40] erykpiast commented on #102
Sorry I confused you, code in line 12 was only an example. The idea was to connect rewiring code inside module with ID used in tests.

Your plan makes perfect sense for me. It's good to make small improvements, release new versions and validate ideas fast.

[2016-03-06 13:55] zh3 commented on #92
@speedskater great, thanks for all your work on this plugin!

[2016-03-06 13:56] speedskater commented on #92
@zh3 thanks, you are welcome

[2016-03-06 18:08] boneskull commented on #97
@speedskater Thanks!  :clap:

[2016-03-07 02:23] TheSavior commented on #87
This is still a problem for us using 1.0.0 rc1

[2016-03-07 02:59] TheSavior commented on #87
I think I finally tracked it down. I'll see if I can make a failing test.

[2016-03-07 03:45] TheSavior opened #104 "1.0.0 beta1 with browserify fails to pack"
Using the 1.0.0 beta1 seems to fail when being used in conjunction with browserify.

Create a file with the contents:

[code]

and a .babel.rc of
[code]

and run

[code]

The command runs successfully, but the bundle doesn't include semver.

If you run
[code]

Then the bundle *does* include semver.

Furthermore, if semver is not installed and you run:
[code]

You'll get no error and again, obvious

[2016-03-07 03:49] TheSavior commented on #104
rc1 is the current version, not beta1. Sorry for the confusion.

[2016-03-07 03:49] #104 closed

[2016-03-07 14:59] ajwhite commented on #71
@speedskater is there a PR or commit you could reference to that addressed this? :smile:

[2016-03-07 16:08] renanvalentin opened #105 "Rewire doesn't work with Isparta"
Hello guys!

I'm using react-redux-starter-kit and we have this config for karma:
[https://github.com/davezuko/react-redux-starter-kit/blob/master/build/karma.conf.js](https://github.com/davezuko/react-redux-starter-kit/blob/master/build/karma.conf.js)

I tried to add the rewire loader (loader: 'isparta?{ babel: { plugins: ["rewire"] } }') at line 69, but I was unable to make it works.

Any idea?

[2016-03-07 19:53] TheSavior opened #106 "1.0.0-rc-1 Duplicate declaration "typeOfOriginalExport""
With 1.0.0-rc-1, I can get the following error:

[code]

I have been able to create a minimal test case here: https://github.com/TheSavior/babel-plugin-rewire-test-case

I'm not sure how to make a test case in this repo since the test suite uses a global hook to transform and thus not sure how to specify a babel rc for the nested package.

The problem occurs when requiring with browserify a packag

[2016-03-07 20:05] trainerbill commented on #71
I am using rc1 and getting a plugin error via gulp-babel:

TypeError in plugin 'gulp-babel'
Message:
    Filename must be a string

works fine if i just remove the rewire from .babelrc

[2016-03-07 20:49] TheSavior commented on #87
New ticket with a failing example at #106

[2016-03-07 22:22] smashercosmo opened #107 "Doesn't work for components inherited from other components"
All my components are inherited from PureComponent (with shouldComponentUpdate lifecycle hook). Adding rewire plugin results in the following error:
[code]
Error goes away if I extend React.Component directly. I'm using version 0.1.22.

[2016-03-07 22:56] smashercosmo commented on #107
I investigated it a bit further and the problem is in using class properties:
[code]

when defining PureComponent in this way:
[code]
error goes away

[2016-03-07 23:05] speedskater commented on #107
Could you please try 1.0.0-rc-1 as it is the latest version.

[2016-03-07 23:18] smashercosmo commented on #107
Well, actually I can't) Because version 1.0.0 uses babel 6 and we're using babel 5. I can try it on the test project, but if it works, then probably it should be backported to 0.1.23 branch.

[2016-03-07 23:30] speedskater commented on #107
I am sorry, but I won't be able to do the backport on the 0.1.22 branch, as there are major differences in the mechanism how the rewiring actually works and it will take too much time to bring the changes to the babel 5 version.
Maybe if the babel 6 version works you could try to preprocess your files with the babel 6 plugin first.

[2016-03-07 23:34] smashercosmo commented on #107
Ok. Got it. I think, I just won't be using class properties in this particular case. That's the easiest fix)

[2016-03-07 23:34] #107 closed

[2016-03-07 23:34] speedskater commented on #106
@TheSavior Thanks for providing the error report. I will have to look at the example in more detail to analyze the error and integrate it into our samples tests.
I will try to tackle the issue on the weekend.

[2016-03-07 23:37] speedskater commented on #105
thanks for reporting the issue. I will have a look at it on the upcoming monday. Hope this is okay for you?

[2016-03-07 23:37] speedskater commented on #107
@smashercosmo thank you. and sorry for the inconvenience.

[2016-03-07 23:40] smashercosmo commented on #107
@speedskater no worries) and thx for great plugin

[2016-03-07 23:41] speedskater commented on #107
@smashercosmo you are welcome

[2016-03-08 12:11] renanvalentin commented on #105
Thanks for helping @speedskater !

[2016-03-10 02:04] paothegit commented on #87
I also have this error on version 1.0.0-rc-1

[2016-03-11 08:38] speedskater commented on #102
@erykpiast thats true, but I am limited in my amount of time which i can dedicate to this product. Therefore if you would like to join us, you are welcome :).

[2016-03-11 11:33] erykpiast commented on #102
It may be quite challenging for me, I've never play with code transformations, so I guess there is a lot of APIs to learn for me :) I planned to read about it anyway, maybe I will be able to help with something then. What resources do you recommend for beginners like me?

[2016-03-11 16:47] TheSavior commented on #102
The JavaScript AST explorer is probably your best bet because it supports the Babel transform apis and you can test things out in your browser.

http://astexplorer.net/

Choose babelv6 from the transform menu.

[2016-03-11 17:01] ajwhite commented on #102
That's a great link @TheSavior! Thanks for sharing :smile:

[2016-03-11 17:04] speedskater commented on #102
@erykpiast @ajwhite I would use the babel plugin handbook. It explains really well how the involved data structures work together.
https://github.com/thejameskyle/babel-handbook/blob/master/translations/en/plugin-handbook.md

[2016-03-14 10:39] yvele opened #108 "babel 6.7 warning: You or one of the Babel plugins you are using are using Flow declarations as bindings"
I'm using babel 6.6.5 (babel-core 6.7.2)

When running tests, I get a lot of those warnings in my console:

[code]

It looks like it's caused by this PR https://github.com/babel/babel/pull/3414

PS: babel-plugin-typecheck has the same [issue](https://github.com/codemix/babel-plugin-typecheck/issues/134)

[2016-03-14 13:38] speedskater commented on #108
@yvele Thanks for reporting the issue I will have a look at it.

[2016-03-15 09:14] speedskater commented on #105
Hi

@renanvalentin I had a look at your issue and modified our own internal project to generate code coverage reports. For this we used babel-istanbul-loader (https://github.com/deepsweet/babel-istanbul-loader). For this to work you have to restructure your webpack config accordingly. Furthermore for your webpack-test-config to work you have to replace babel-loader with babel-istanbul-loader.
Besi

[2016-03-15 09:14] #105 closed

[2016-03-15 09:49] codejet opened #109 "TypeError: _get__(...).__REWIRE__ is not a function"
No matter what I try with exports and imports, I always get:

`TypeError: _get__(...).__REWIRE__ is not a function`

I added the plugin to our .babelrc for the tests and babel-plugin-rewire.js definitely gets executed.

I couldn't find any really similar issue. Am I missing something obvious?

[2016-03-15 10:31] speedskater commented on #109
@codejet is it possible that you have a type in your code and use __REWIRE__ instead of __Rewire__ (https://github.com/speedskater/babel-plugin-rewire).
I would even recommend to use the __set__ method.
Does this solution help you?

[2016-03-15 11:58] codejet commented on #109
thanks @speedskater, but it doesn't seem to matter whether REWIRE or Rewire...

`TypeError: _get__(...).__Rewire__ is not a function`

[2016-03-15 16:19] robin-barnes-triptease commented on #109
I also have what appears to be the same problem:

[code]

undefined is not a constructor seems to happen when using either phantom or mocha, not sure which, but basically it's complaining because moduleName.__Rewire__ is not a function. Note this was working fine until I reinstalled my npm modules, then it broke.

[2016-03-15 17:41] bassettsj commented on #108
Ugh, the warning is really annoying, not your fault obviously.

What would it take to fix this soon?

[2016-03-15 22:08] mmahalwy commented on #71
I keep getting this error:
[code]

and the file is:
[code]

[2016-03-15 22:48] mmahalwy opened #110 "React stateless functions fails with arrow functions"
Error:
[code]
and the file is:
[code]

This happens with all other stateless functions:
works:
[code]

Does not work:
[code]

[2016-03-16 07:13] valscion commented on #71
Hi @mmahalwy, could you create a separate issue for this? You can link back to this issue if you think that it would make sense. This issue is closed and I think it is easier to fix issues if they're separate.

[2016-03-16 07:53] speedskater commented on #110
Thank you I will try to tackle it ASAP.

[2016-03-16 07:55] speedskater commented on #109
@codejet , @robin-barnes-triptease thank you. Could one of you please create a PR with a minimum sample, similar to the ones existing in the repo?

[2016-03-16 07:56] speedskater commented on #108
@bassettsj Time ;). I hope it will be fixed till the end of the week

[2016-03-16 12:00] renanvalentin commented on #105
Thank you so much for taking a look, I end up using [inject-loader](https://github.com/plasticine/inject-loader), but I will try your solution to see if it works!

Thanks!

[2016-03-16 18:46] mmahalwy commented on #109
@codejet I am experiencing the same problem with PhantomJS. Did you get around fixing this? CC: @robin-barnes-triptease

[2016-03-16 19:05] mmahalwy commented on #110
@speedskater anything I can help with? This and #109 are huge blockers for me. :(

[2016-03-17 07:29] speedskater commented on #110
@mmahalwy yes. Could you please provide a PR for #109 analogous to the valscion provided for this issue?

[2016-03-17 13:18] codejet commented on #109
@mmahalwy no, unfortunately i didn't. we are using mocha here.

[2016-03-17 23:39] mmahalwy commented on #110
@speedskater I tried to run your tests with karma and phantomjs but didn't succeed at getting it working :(

[2016-03-18 18:35] nschurmann opened #112 "Error on using the plugin."
i'm having this error, just when trying to execute an empty test with mocha:

[code]

I'm using `npm run tdd <file>` to run my tests, when i don't configure the plugin in my `package.json` it executes the test. But i need to use this to mock a mongoose model that is imported.

Do you know what may i be missing?
script: `"tdd": "mocha --compilers js:babel-core/register -R spec -w"`

babel config:
[

[2016-03-18 18:40] nschurmann commented on #112
What i found is that the `Plugin` method is not defined in the argument passed `pluginArguments`. Any pointers with this?

[2016-03-18 18:49] nschurmann commented on #42
This actually throws an error for me, undefined is not a function, on line 26 of babel-plugin-rewire. Seems that `Plugin` is undefined.

[2016-03-18 18:55] nschurmann commented on #112
updating to `1.0.0-beta-3` solved the issue. This should be documented on the README.md

[2016-03-18 18:55] #112 closed

[2016-03-19 14:34] chrisblossom opened #113 "Disable based on environment"
Is it possible to disable based on environment?

Lets say I want to rewire my API calls but I want to test them against a real mocking server during CI, or locally when specified. Is this currently possible?

[2016-03-20 14:42] erykpiast commented on #113
You mean something like `env` in `.babelrc`? https://babeljs.io/docs/usage/babelrc/

[2016-03-20 15:31] chrisblossom commented on #113
@erykpiast Yes, like that, but would need to be implemented as a config option for the plugin. Otherwise Babel will fail to compile because it won't understand ```.__Rewire__``` and will fail with error messages such as: ```TypeError: _variable2.default.__Rewire__ is not a function```

Similar to how [codemix/babel-plugin-typecheck](https://github.com/codemix/babel-plugin-typecheck#pragmas) has do

[2016-03-22 15:00] StyMaar commented on #106
It also occurs with no browserify at all in my case.

[2016-03-22 18:42] mmahalwy commented on #110
@speedskater any luck with this?

[2016-03-22 22:21] jmauerhan commented on #110
This is a blocker for me too :) Following to see any progress.

[2016-03-22 22:29] speedskater commented on #110
sorry for the delay. I think I will find time this weekend to tackle this problem.

[2016-03-23 08:22] uriklar commented on #109
+1

[2016-03-23 08:41] codejet commented on #109
a colleague of mine investigated, and according to him babel-register prevents rewiring of modules living inside node_modules in our case.

[2016-03-23 09:33] jonashartwig commented on #109
Same issue here using babel 6 on rc1:

import * as ConfigService from "../src/services/configService";

const getEnvironmentConfigurationMock = () => Promise.resolve({
    ICE_SERVICE: undefined,
    RTC_SERVICE: undefined
});

ConfigService.__Rewire__("getEnvironmentConfiguration", getEnvironmentConfigurationMock);

where configService:

var environmentConfig = undefined;

export function getEnvi

[2016-03-23 15:50] renke opened #114 "Reset all dependencies"
It would be really useful to have a `__ResetAllDependencies__` function that you could just call in a afterEach hook. It's pretty easy to forget to add `__ResetDependency__` for every `__Rewire__`.

Also, it becomes pretty annoying when you deal with Promise-based tests like this:

[code]

vs.

[code]

Thoughts?

[2016-03-24 13:55] StyMaar commented on #106
My bad, in my case it was caused by two `export default` statements in a row. Interestingly enough, this mistake caused no error without the plugin.

[2016-03-24 14:10] StyMaar opened #115 "1.0.0-rc-1 TypeError: _get__(...).not.exist is not a function"
The latest version seams to break should.js (https://github.com/shouldjs/should.js)

but only when it comes to use the main object `should` directly.

This fails
[code]

but this works

[code]

[2016-03-24 14:43] ModuloM commented on #109
I had the same problem, but manage to fix it.

In your case @jonashartwig, it will be something like, switching:
`import * as ConfigService from (...)`
To:
`import { getEnvironmentConfiguration, __RewireAPI__ as configServiceRewireApi } from (...) `

And finally in the code
`configServiceRewireApi.__Rewire__("getEnvironmentConfiguration", (...)`

Hope it helps.

[2016-03-24 21:44] spncrlkt commented on #109
Ran into this today:
[code]
Throws:
`TypeError: _get__('things').__REWIRE__ is not a function`

I wanted to keep the `import * as` syntax, so I found a workaround by importing the things and the API separately:
[code]

[2016-03-25 21:22] jmeas commented on #114
Lmk if there's interest in official support. If there is, I'd be up for trying to PR it. If not, I'll prob. make a 3rd party lib to do it (tho' I think it belongs in core).

This feature seems similar to sinon's analogous way to release all stubs when using sandboxes.

[2016-03-25 23:45] TheSavior commented on #114
We use https://github.com/wealthfront/privatestate on top of rewire to set and get variables and restore them after tests.

[2016-03-28 18:32] speedskater commented on #115
@StyMaar thanks for reporting the issue. Could you please create a PR containing a failing usage test?

[2016-03-28 18:49] joshnuss commented on #109
It seems you can't rewire a dependency that is not used. This caused the issue for me.

It's a little confusing when doing TDD, cause you might want to rewire a service before anything actually uses it.

[code]

[code]

This can be fixed by adding a reference to the import anywhere in your code

[code]

[2016-03-28 19:01] speedskater commented on #109
@spncrlkt, @ModuloM, @robin-barnes-triptease , @jonashartwig The behaviour regarding wildcard imports is intentional. The reason is that if we would add the rewire api to the wildcard import it could break the contract of modules expecting certain exports.

@joshnuss You are right, rewiring a dependency which is not used or does not exist causes an error at the moment. I think we should be able to

[2016-03-28 19:08] speedskater commented on #114
@renke @jmeas, @TheSavior we in our project use a very small wrapper library which does solve this issue for us.
As resetting all existing dependencies is dependening on the test framework i would prefer to move such functionality in a third party library. Furthermore I think creating a global reset hook is currently not trivial, as the rewired dependencies are registered on a per module basis.

W

[2016-03-28 19:16] speedskater commented on #110
The fix is incorporated in 1.0.0-rc-2. Please let me know if this works for you.

[2016-03-28 19:16] #110 closed

[2016-03-28 19:16] speedskater commented on #108
The fix is incorporated in 1.0.0-rc-2. Please let me know if this works for you.

[2016-03-28 19:16] #108 closed

[2016-03-28 19:16] speedskater commented on #106
@TheSavior, @StyMaar The fix is incorporated in 1.0.0-rc-2. Please let me know if this works for you.

[2016-03-28 19:16] #106 closed

[2016-03-28 19:21] speedskater commented on #113
@chrisblossom Thanks for creating the issue. I think I haven't understood your request completly regarding the API and the real mocking server. Could you please explain your example in more detail?

[2016-03-28 22:07] mmahalwy commented on #110
@speedskater going to give it a try! Thanks! :tada: :tada: :tada: :tada:

[2016-03-29 00:55] hung-phan commented on #110
Thanks for your works @speedskater. Awesome

[2016-03-29 10:54] renke commented on #114
@speedskater what does the wrapper look like?

Also, on a per-module basis is fine for me, if you mean something like:

[code]
That's exactly what I need.

[2016-03-29 11:08] yvele commented on #108
@speedskater No more warnings with **1.0.0-rc-2** and everything is working.. Thanks ;)

[2016-03-29 16:41] jmeas commented on #114
@speedskater , what I'm thinking about would be test-framework independent, if it's possible.

As @renke describes, I'd expect for `rewire` keep a cache of every module that it stubs internally (it may already do that?). Then, I'd like a method that resets everything from that cache. This should be able to be implemented in a manner that's agnostic to any given test framework.

Sinon's `sandbox.re

[2016-03-30 13:51] chrisblossom commented on #113
I use [getsandbox.com](https://getsandbox.com/) to generate mocked API responses for CI/integration testing and use babel-plugin-rewire for local unit testing. I have been using ```if``` statements for specific environments and was hoping this is/could be a config option instead.

Does that make sense?

[2016-03-31 00:38] mmahalwy opened #116 "@connect not getting rewritten dependency"
[code]

`push` is not getting rewritten to anything as `@connect` is getting the original and saving it. Any ideas how to get around this?

[2016-03-31 00:56] mmahalwy commented on #116
I think it's due to the binding, via a closure: https://github.com/reactjs/redux/blob/master/src/bindActionCreators.js#L1

[2016-03-31 11:00] tungv commented on #78
I have the same issue with `export * from 'some modules'`. This is the following code that I use:

[code]

and my `.babelrc`:

[code]

The error I got

[code]

This is the generated code from `babel-loaders`:

[code]

[2016-04-01 21:43] bassettsj commented on #108
Thanks you!

[2016-04-03 08:43] TheSavior opened #117 "rc-2 keeps browserify from finding required files through other packages"
We use a package [proxyquireify](https://github.com/thlorenz/proxyquireify) in order to stub out module dependencies as well as babel-plugin-rewire.

These have worked just fine together in past versions of this module, however now the transformation to the calls seems to keep browserify from detecting those modules bring required and including it in the bundle.

I'll try to create a failing test,

[2016-04-04 01:40] TheSavior commented on #117
Test case is here: https://github.com/TheSavior/babel-plugin-rewire-test-case

The problem is that browserify tries to figure out which modules are required when it creates the bundle. Proxyquireify helps by detecting uses of proxyquireify and adding in requires so that they are included. By babel-plugin-rewire rewriting the calls to proxyquireify, it keeps the module from working correctly.

The

[2016-04-04 01:52] TheSavior commented on #117
Flipping the order such that proxyquireify runs before babelify will fail if the code contains anything not parseable by acron, such as JSX.

[2016-04-04 06:26] speedskater commented on #116
@mmahalwy. Its not very nice, but you could use an intermediate function for the mapDispatchToProps.

Like this:

[code]

[2016-04-04 06:26] speedskater commented on #116
is this a possible solution in your case?

[2016-04-05 19:11] garytryan opened #118 "TypeError: Cannot read property 'unshift' of undefined at PluginPass.module.exports.Transformer.Program"
Full Error:

[code]

Webpack setup:

[code]
I'm using Babel 6.5.1, in case that's relevant.

Any ideas what's going wrong here?

[2016-04-06 07:27] mmahalwy commented on #116
@speedskater I could definitely try it and let you know. I will close for now and reopen if it does not work.

[2016-04-06 07:27] #116 closed

[2016-04-06 10:05] StyMaar commented on #115
I'm trying to reproduce in this repository but I didn't succeed so far.

[2016-04-06 11:41] StyMaar commented on #115
I created a new project that reproduce the bug : https://github.com/StyMaar/repro-babel-plugin-rewire/tree/master

[2016-04-07 09:45] jonashartwig commented on #105
for future references:

.babelrc:

[code]

karma conf:

[code]

this works together with rewire and babel.

regards

[2016-04-08 07:53] lovedota opened #119 "How to reset its self"
Hi @speedskater

Hi I have a code like this

[code]
in test i want to reset this object in everytime it get. How can i do it ? I know we can do it with *__set__('count')*, but for example, this single ton object has a lot of properties, using __set__ will be not good. I just want to completely reset this object.
[code]

[2016-04-13 23:01] mmahalwy commented on #109
I am still getting this error with as simple as:
[code]

and test:
[code]

This only happens with phantomjs.

[2016-04-21 08:14] StyMaar commented on #115
Ok, I figured out where it comes from (in the generated code):
[code]
Because the `should` library extends `Object.prototype` with a `Object.prototype.should` attribute, then when performing `_get__("should")`, `_RewiredData__["should]` exists, not in `_RewiredData__` itself, but in Object.prototype …

Btw the bug would affect any library whose name in also the name of a property of `Object.protot

[2016-04-21 08:27] StyMaar commented on #115
@speedskater I want to create a PR with my fix but I'm facing a issue with tests :

When I change this in Template.js
[code]
with this
[code]
And update the fixtures accordingly, it breaks the tests because the transpiling now generates
[code]

instead of just

[code]

Any idea of where those `\n` comes from ?

[2016-04-22 09:47] andrestaht opened #121 "Can't set set multiple variables with one __set__ call"
With [rewire](https://www.npmjs.com/package/rewire) it is possible to set [multiple dependencies](https://www.npmjs.com/package/rewire#rewiredmodule__set__obj-object-function) with one `__set__` call:
[code]
Currently I have to call `__set__` twice to set these dependencies:
[code]

It would be nice to be able to set multiple dependencies like it is possible with [rewire](https://www.npmjs.com/pac

[2016-04-25 12:53] andrewmunro commented on #80
@dtothefp What was your fix for this? I've just upgraded to Babel 6 and having the same problem :(

[2016-04-25 12:53] gavriguy opened #122 "Question: Can I rewire a nested dependency?"
Lets Say **moduleA** requires **moduleB**
and **moduleB** requires **moduleC**

Now lets say **moduleC** has an ajax call I want to rewire for testing **moduleA**. Is the a simple way to rewire **moduleC** directly without mocking all dependencies all way down?

[2016-04-25 20:12] dtothefp commented on #80
@andrewmunro no fix I bit the bullet. If you have a big application you might Google around for a tool that might automate the process of changing your `export default` to `export const`. The biggest pin for us was also tracking down where this was happening in our private sub modules that we were consuming uncompiled

[2016-04-25 22:59] andrewmunro commented on #80
If that's the case I think I'd rather use an alternative like https://www.npmjs.com/package/inject-loader. Rewire has been causing us headaches for months...

[2016-04-26 07:35] speedskater commented on #118
@garytryan Thanks for reporting the issue. Could you please create a small sample project reproducing the error.

[2016-04-26 07:41] speedskater commented on #122
@gavriguy Theoretically you can import the Rewire API of moduleB in your test, but I would not recommend to go down this path.
I would just mock moduleB as moduleA depends only on moduleB and that moduleB uses moduleC is an implementation detail of moduleB.

[2016-04-26 07:44] speedskater commented on #121
@andrestaht I think this is currently impossible. Could you please create a PR with a failing test and I will try to tackle your issue ASAP (but it will take at least another week, till I get to it).

[2016-04-26 07:53] speedskater commented on #80
@andrewmunro I know this is annoying, but I think tackling the problem, maybe with a tool like jscodeshift or similar will be more futureproof and should be doable.

The reason is that the previous behavior is not es2015 compliant and may or may not break anytime if you you use another module loader.

If you tackle this problem with jscodeshift could you provide the codemod for other users, which

[2016-04-26 07:56] speedskater commented on #109
@mmahalwy maybe this could be related to the decorators in your sample. What happens if your separate the declaration of the component and the export?

[2016-04-26 08:06] speedskater commented on #119
@lovedota
Sorry for the late reply and thank you for reporting the issue. I think supporting your use case is not trivial, as it would imply executing the module multiple times. Although this is the case for the traditional rewire project, I think this is not feasible in an es2015 context.
The reason is that es2015 modules can have cyclic dependencies as well can be referenced by other modules as

[2016-04-26 09:16] andrewmunro commented on #80
@speedskater I understand the problem and I appreciate all the work you've done supporting this plugin, but personally I think it introduces more problems than it solves.

Enforcing rewire on all requires/imports in tests not only adds on a significant amount of processing time for us (adds around 10s to the babel transpilation process), but I constantly have problems with tests leaking as develop

[2016-04-26 15:57] gavriguy commented on #122
Thank you for your answer

[2016-04-26 15:57] #122 closed

[2016-04-28 22:12] mmahalwy commented on #109
i can give it a try and report back

[2016-05-03 20:24] anzorb opened #125 "rc-2 [PhantomJS only] TypeError: undefined is not a constructor"
This issue only happens while running babel in PhantomJS (as part of my Karma tests).

Code: https://github.com/anzorb/es6-webpack-starter-kit
Command: npm run karma:ci

Changing https://github.com/anzorb/es6-webpack-starter-kit/blob/master/karma/ci.conf.js#L14 to ['Chrome'] resolves the issue.

[code]

babel-plugin-rewire@1.0.0-rc-2
PhantomJS 2.1.1
NPM 2.15.1
Node v4.4.3

[2016-05-04 07:00] olabalboa opened #126 "Isparta + webpack documentation is not correct"
The documation about how to use babel-plugin-rewire together with isparta and webpack is not correct. isparta-loader does not handle query parameters.

According to the docs in https://github.com/deepsweet/isparta-loader, babel options can be set in karma.conf.js. To use babel-plugin-rewire, the config should be

[code]

instead of using query parameters

[code]

[2016-05-05 00:20] MoonTahoe opened #127 "Error: The (rewire) Babel 5 plugin is being run with Babel 6."
I am having problems setting up the babel-plugin-rewire.  I installed it and modified my __.babelrc__ to list rewire as a plugin

[code]

When I run webpack or the tests I get an error:

#### Error: The (rewire) Babel 5 plugin is being run with Babel 6

[2016-05-05 00:21] MoonTahoe commented on #127
also: `"plubins": ["babel-plugin-rewire"]` causes the same error...

[2016-05-05 00:42] TheSavior commented on #127
Try using `1.0.0-rc-2` for babel support. The released stable version only supports babel 5.

[2016-05-05 02:24] MoonTahoe commented on #127
Yes that worked...

` $ npm install babel-plugin-rewire@1.0.0-rc-2  --save-dev`

works!

[2016-05-05 21:22] mmahalwy commented on #80
@andrewmunro what have you done then?

[2016-05-06 11:47] andrewmunro commented on #80
@mmahalwy see:

https://github.com/speedskater/babel-plugin-rewire/issues/80#issuecomment-214556405

I'm now using inject-loader and finding test performance much better.

Changes:

[code]

to

[code]

You have an added bonus that you don't have to worry about calling `__ResetDependency__` since the injectloader only injects modules within the scope of your test, not globally. I find this much cle

[2016-05-06 22:30] kentcdodds opened #128 "Interop with other plugins that rename/replace variables (specifically lodash)"
I use [babel-plugin-lodash](https://npmjs.com/package/babel-plugin-lodash) which changes variable names and moves some things around. Basically, the lodash plugin will change the import statements and usages, but rewire doesn't see this for some reason and uses the original variables. This results in `undefined` errors.

I've created a totally isolated reproducing example repo here: https://github

[2016-05-06 22:45] TheSavior commented on #128
This PR might solve your problem: https://github.com/speedskater/babel-plugin-rewire/pull/120

[2016-05-06 22:46] kentcdodds commented on #128
Absolutely it will!

[2016-05-09 20:28] stuartsan opened #129 "Is it possible to rewire a module's dependencies before their initial evaluation?"
Let's say I have module A under test:

[code]
Is it possible in a test of module A to rewire its dependency B, before B's initial evaluation? I.e., if B contains:

[code]

Then `hi from B!` is never logged. So far I've been unable to achieve this with `babel-plugin-rewire` and I'm wondering if it is possible. The reason I want to do this is that a third-party library I'm requiring does some stuff

[2016-05-10 15:06] #117 closed

[2016-05-10 15:06] #121 closed

[2016-05-10 15:10] speedskater commented on #121
Thanks @andrestaht @nene for providing a test and fixing this issue.

[2016-05-13 17:23] apedyashev opened #130 "Works with require() and doesn't work with import"
It seems that Loader can be rewired only if tested component uses require() instead of ES6's *import*
[code]

test:
[code]

[2016-05-19 00:46] mmahalwy commented on #109
@speedskater getting same problem with non decoratored file

[2016-05-26 22:12] loudwinston opened #132 "Use with NODE_PATH env var or webpack `require.resolve`"
I'm using a `NODE_PATH` environment variable to set a root directory to look for components.  This lets me avoid having long relative urls (e.g. `import Foo from ../../../components/Foo.js` becomes `import Foo from 'components/Foo`.

It seems like `babel-plugin-rewire` doesn't work with this, as when I add the plugin to my `.babelrc`, I get errors like

[code]

[2016-05-27 12:54] Janekk opened #133 "Webpack/Karma tests: Uncaught TypeError: Cannot assign to read only property '__get__' of object '#<Object>'"
I'm getting this even if no actual Rewire API was used in my test code.

Here's the piece of auto-generated code from `tests.webpack.js` where the error occurs

[code]

ERROR: `Uncaught TypeError: Cannot assign to read only property '__get__' of object '#<Object>'`

Here are my babel-related dependencies:

[code]

Did anyone have a similar problem?

[2016-05-30 10:25] Janekk commented on #133
Hmm, turned out the problem was caused by some specific ES6 syntax used that apparently didn't play well with that object enhancement that `babel-plugin-rewire` is doing. It required some refactoring of some of the ES6 modules involved in order to get rid of that error. Here's the list of things that were causing glitches with `babel-plugin-rewire` in my code (might help someone):

1. Using a `con

[2016-06-02 22:15] djforth opened #134 "Karma Webpack Jasmine not rewiring"
For some reason it doesn't seem to be rewiring my functions as I would expect.  Even though the __Rewire__ seems to be their it doesn't seem to rewire the test as I would expect.

[code]

and my test:

[code]

I would expect the jasmine spy to replace SnippitsDispatcher, however this doesn't seem to happen and the console log is return the actual dipatcher rather then the spy.

My Karma.config if

[2016-06-02 22:18] mariotacke opened #135 "Rewire a non-existing dependency"
I'm trying to test a file with a default export which imports a non-existing dependency. It does not exist at this time because webpack targets a specific environment (`electron` in my case) during my actual build. When I try to run the test, it breaks on the import because the dependency does not exist yet.

Is there a way to rewire the dependency before it actually loads the file? I used proxyqu

[2016-06-03 10:04] djforth commented on #134
I'm idiot... ignore me

[2016-06-03 10:04] #134 closed

[2016-06-04 13:34] wangpin34 commented on #130
Same issue when I try to mock a module

ErrorHandler.js
[code]

ErrorHandler.test.js
[code]

[2016-06-08 18:30] #125 closed

[2016-06-08 18:42] anzorb commented on #133
+1 Same issue, works fine with module.exports but fails with ES6 export.

For me, this only happens with isparta instrumenter. Workaround is to either disable code coverage or to use module.exports and not ES6 👎

Code is here: https://github.com/anzorb/es6-webpack-starter-kit

Change module.exports to export default at the bottom of the file to reproduce.
https://github.com/anzorb/es6-webpack-star

[2016-06-10 01:23] AdityaHegde opened #136 "__set__ does not apply on variables present on right of an assignment expression"
[code]

get converted to

[code]

So testing setVarA is not possible by using ```__set__``` on varB and varC.

Here are my babel versions
"babel-cli": "^6.9.0",
"babel-core": "^6.9.1",
"babel-plugin-rewire": "^1.0.0-rc-3",
"babel-preset-es2015": "^6.9.0",
"babel-register": "^6.9.0",
"babel-template": "^6.9.0",
"babel-types": "^6.9.1",

A few things i found after moving around code,

[code]
is bein

[2016-06-14 20:47] niran opened #137 "Rewire adds a default export to modules that don't have them"
I have code that treats an imported module as an object to pass as arguments, but rewire is adding a default import with a non-enumerable `__Rewire__` property. This extra default key breaks my code.

[2016-06-14 20:55] niran commented on #137
This seems to be by design, and I've modified my code to work around it, but it'd be nice if there were a way to turn it off so I could use rewire without modifying my codebase.

[2016-06-16 07:44] hoschi opened #139 "Mock 'require' not possible"
I can't mock `require` to mock `require.ensure` (webpack stuff). I got the following error:
[code]

Code under test:
[code]

My current workaround is:
[code]

[2016-06-16 14:25] frederikb commented on #130
I've seem to have run into the same issue as @apedyashev. The plugin generally works for other use cases, however ES6 type imports cannot be mocked. Is this a known or expected limitation?

[2016-06-20 17:17] beckend opened #140 "chai should issues"
[code]
Object is not a constructor (evaluating '_get__('should').exist(error)')

It works fine without rewire.

[2016-06-22 09:44] StyMaar commented on #115
@speedskater ping

[2016-06-22 09:47] StyMaar commented on #140
it looks like a duplicate of #115

As a work-around you can try to name your constant `_should` instead of `should`. This should fix the issue until #115 is solved.

[2016-06-22 12:27] speedskater commented on #115
@StyMaar sorry, i am on hollidays will return on monday

[2016-06-23 00:33] asgarddesigns commented on #109
I found declaring an anonymous function as default export directly caused this error, whereas assigning to a const and exporting that worked.

e.g.
doesn't work:
[code]
does work
[code]

[2016-06-25 03:54] msafi opened #141 "Readme file needs to say `babel-core`"
Instead of just `babel` in usage examples.

Thanks a lot for the great project!

[2016-06-26 22:32] dtothefp commented on #139
same problem here, I tried using the `__RewireAPI__` but didn't work, I'm doing something like this now

[code]

[2016-06-27 08:50] #119 closed

[2016-06-27 13:47] speedskater commented on #115
@StyMaar sorry for the delay, and thanks for your fix and your patience. I incorporated your test and your suggested fix into the babel-plugin-rewire repo and added you as a contributor.
I was not able to fix the newline problem, but changed the template to contain the newline as well. It is not a very nice solution to the newline issue but I think it should be sufficient for the time beeing.

[2016-06-27 13:47] #115 closed

[2016-06-27 13:48] StyMaar commented on #115
Thank you !

[2016-06-27 14:10] speedskater commented on #140
Fixed the issue in course of fixing #115. Added test which explicitly checks support of chai should.

[2016-06-27 14:10] #140 closed

[2016-06-27 14:19] speedskater commented on #141
@msafi thanks for pointing this out. I replaced usages of babel with babel-core. If you find some usages I haven't considered in the fix please don't hesitate to create a PR.

[2016-06-27 14:19] #141 closed

[2016-06-27 14:26] speedskater commented on #139
@hoschi, @dtothefp I think your problem is that you are trying to mock a global variable, which is not supported by babel-plugin-rewire.
Could you try to get around this by definining a temporary variable containing the ensure variable.
let ensureModule = require.ensure.
This should allow you to rewire the variable ensureModule.
Does this work for you?

[2016-06-27 14:38] speedskater commented on #137
Thanks for pointing this out. The problem is already known and mentioned in other issues (eg. Issue #78). I think a solution which allows to configure the way to receive the RewireAPI might be the way to go, but it will some more time till we can actually handle this.
If you are interested to tackle this issue this would be really great. In this case we could schedule a skype call to discuss this

[2016-06-27 15:12] speedskater commented on #130
@frederikb @apedyashev @wangpin34 Generally rewiring of es6 modules should work as this is the intended use case of this library. I have added the test case of apedyashev to the samples and was not able to reproduce your error. Please see issue130-jsx-es6-type-imports in the samples directory.

Maybe it is related to the way you load modules. What is the module loader you are using?

[2016-06-27 15:29] speedskater commented on #135
@mariotacke I think what you trying to achieve with this library is not possible.
Maybe you should provide a dummy electron module for all your tests or use https://github.com/jprichardson/electron-mocha. Could this be a solution for your?

[2016-06-27 15:29] #135 closed

[2016-06-27 15:31] speedskater commented on #132
@loudwinston I think the problem you described should work as this is exactly what we are doing in the company I am working for. Could you therefore provide a PR with a failing sample or a sample project reproducing your error?

[2016-06-27 15:37] speedskater commented on #129
@stuartsan I am sorry, but imho this is not possible. As dependencies in es6 are statically analyzed, module B is executed exactly once regardless how many times it is required. The mocking mechanism used by babel-plugin-rewire only changes the value assigned to B in module A not the loading of the module itself. If you want to conditionally load a module you either have to change the dependency t

[2016-06-27 15:37] #129 closed

[2016-06-27 15:39] speedskater commented on #128
@kentcdodds I think this issue should be solved. If not don't hesitate to reopen this issue.

[2016-06-27 15:39] #128 closed

[2016-06-27 15:39] speedskater commented on #127
@MoonTahoe As this works for you. I will close this issue.

[2016-06-27 15:39] #127 closed

[2016-06-27 15:43] stuartsan commented on #129
Makes sense, thanks @speedskater !

[2016-06-27 15:55] speedskater commented on #126
@olabalboa Thanks for providing the hint. I updated the description about how to use isparta. Is this what you intended?

[2016-06-27 15:55] #126 closed

[2016-06-27 16:02] speedskater commented on #113
@chrisblossom, @erykpiast sorry for the delay, but I were in a big hurry due to a release over the last month.
Regarding your problem I think I understood your issue but I think I am not really getting how your are writing your tests. Could you please provide a sample code, with how you are currently doing your tests and what your ideal API should look like?

[2016-06-28 16:05] loudwinston commented on #132
@speedskater Sure, I can put something together for you.  I'll update this ticket with a sample.

[2016-07-05 06:41] hoschi commented on #139
I switched away from this plugin, because I use AVA for testing which compiles the files very often and the rewireing all modules was too much for my use case.

[2016-07-05 06:53] speedskater commented on #139
@hoschi sorry to hear this. Maybe we can improve the rewiring performance some day in the future.

[2016-07-05 06:56] speedskater commented on #109
@asgarddesigns thanks for figuring this out. Could you create a PR with a failing sample with your example?

[2016-07-05 07:03] hoschi commented on #139
Perhaps it would make sense to whitelist modules which should be rewired. I have 230 tests and 225 files, but would really need rewire in two or three tests. If this is something you are interessted in, feel free to CC me in the issue ;)

[2016-07-05 07:07] speedskater commented on #139
@hoschi. Maybe it helps using different profiles. In the codebase we are working on we have different babel profiles for developing and testing (with and without this plugin enabled). Furthermore we use webpack in combination with karma and I think we only rewire our own source code. Although the initial start up time is a bit long the incremental test builds are okay.

[2016-07-06 18:53] clayne11 commented on #114
I would love to see this.

[2016-07-06 19:04] TheSavior commented on #114
@jmeas @clayne11, have you looked at https://github.com/wealthfront/privatestate? That is exactly what it does. It uses rewire and keeps a cache of changed modules and enables you to restore all changed modules.

[2016-07-07 11:08] Skahrz opened #144 "Cannot redefine property: __Rewire__ after build"
I m using this library to make rewire inside of a project and I m having some troubles while requiring the due module in another one.

My module is the following : https://github.com/Skahrz/express-konnector

I try to use the express-konnector (locally) from that little script called index.js :

[code]

And when I try to run the script using :

[code]

I have the following error that is thrown :

[2016-07-07 14:40] BenoitAverty commented on #109
I found the same thing as @asgarddesigns. However, it is still related to the import not being used because adding a reference to the unused import fixed the problem.

[2016-07-10 23:44] asgarddesigns commented on #109
@speedskater sorry, been on holidays. Will try and push something up when I get a chance (an remember what I was actually doing!).

[2016-07-12 14:52] lblinovs opened #145 "Not working as expected"
Assume I have this module structure:

[code]

What I am doing:

[code]

Expecting `'qux'` but getting `'foo'`.

[2016-07-12 14:58] patapizza opened #146 "__set__ doesn't return revert function with objects"
When calling __set__ with an object, the returned value is not a function.

Expected: https://github.com/jhnns/rewire#rewiredmodule__set__obj-object-function
Got: TypeError: revert is not a function

[2016-07-13 16:49] liamfd commented on #109
I encountered an issue that may be related (version `1.0.0-rc-3`, using it with webpack).

I have two modules, both of which consist of a number of exported functions. However, when I imported them, `__Rewire_API__` worked fine for one, but not the other.

When trying to track down the difference between my modules, I discovered that while `__Rewire_API__` is defined when importing this module:
[c

[2016-07-13 21:21] TheSavior commented on #109
@liamfd Do you still have this problem with the latest version (1.0.0-rc-4)

[2016-07-13 21:52] liamfd commented on #109
@TheSavior unfortunately yes, the issue still seems to be present with `1.0.0-rc-4`.

[2016-07-14 06:47] uriklar commented on #92
I'm still experiencing this issue with version 1.0.0-rc-4

[2016-07-14 13:35] speedskater commented on #146
@patapizza Thanks for pointing this out. We will have a look at it.

[2016-07-14 13:38] speedskater commented on #145
@lblinovs thanks for reporting this bug. I will try to have a look at it on the upcoming monday. It would be great if you could create a Sample with a failing PR (similar to the existing samples in the project).

[2016-07-14 13:41] speedskater commented on #144
@Skahrz thanks for reporting the issue. I will have a look at the problem on monday. Would it be possible tfor you o create a PR  with a failing sample in the mean time?

[2016-07-15 13:50] jmarceli commented on #130
I was having same issue but after looking once more at https://github.com/speedskater/babel-plugin-rewire#test-code-3 I found mistake in my code.

For @apedyashev test code should (probably look like this because there is no default export):
[code]

and for @wangpin34 (because there is default export):
[code]
I might be wrong but this was my case.

[2016-07-20 02:28] liusy182 commented on #42
I am also hitting the same error when trying to declare the plug-in in `.babel.rc`. I am interested to know how to get it running.

[2016-07-22 19:15] mtthomas opened #147 "Renaming of Child Component"
Child components are rendered as Component and not as their component name.
[code]
is rendered as
[code]

This makes it difficult to find components by their name in Enzyme.

[2016-07-24 16:44] tuckerconnelly opened #148 "Doesn't work with babel-plugin-istanbul"
When I try to use this with babel-plugin-istanbul, I get: `Cannot read property 'start' of undefined`

[2016-08-02 12:31] speedskater commented on #147
@mtthomas thanks for providing this issue. I think it should be fixed in the new version 1.0.0-rc5. Hence, I will close this issue. If this does not solve your problem, please do not hestitate to reopen it.

[2016-08-02 12:31] #147 closed

[2016-08-02 12:32] speedskater commented on #146
@patapizza Sorry again for this delay, but I was tackling a serious issue with jsx support. I hope I can come back to your issue ASAP.

[2016-08-02 12:34] speedskater commented on #145
@lblinovs. Sorry for the delay. I have not actively worked on your issue till now, but created a new intermediate release. Could you please let me know if this improves the situation for you?
If not. Could you please provide me a more detailed example (or a PR ;) ).

[2016-08-04 00:44] lparry opened #150 "RC5 broke our mocha-electron test suite"
first file that tries to load errors out with:

[code]

going back to RC4 the problem goes away. Not sure what kind of info I can provide that would be useful, the error is a bit cryptic to me

.babelrc for tests looks like:

[code]

[2016-08-04 11:48] mik01aj opened #151 "1.0 release?"
First beta of 1.0 came in Nov 26, 2015. 10 months later, could we get an official 1.0? Or is there any important issue that should be fixed before 1.0?

FWIW, I was using `1.0.0-rc3` for quite some time without noticing any problems.

My project is approaching production and at this point it's not comforting to see some beta or rc version in `package.json`. Maybe it's just me, but I think it's tim

[2016-08-04 13:38] chrisblossom commented on #150
I am seeing this same issue but only with one of my test runners ([Wallabyjs](https://wallabyjs.com/)).

[2016-08-07 17:11] panzerdp commented on #109
The problem is still present in `1.0.0-rc-5`.
I included `rewire` as a plugin in `.babelrc`. Then tried mocha tests without modifications and it fails: `TypeError: _get__(...) is not a function` . Tests were working fine before, without rewire plugin.
I am using mocha `2.5.3` with babel.

![selection_004](https://cloud.githubusercontent.com/assets/1078719/17463909/dc6387f0-5cda-11e6-9268-1e2472a53

[2016-08-07 20:46] rainydio opened #152 "RC5 incompatible with transform-async-to-generator"
Simple test code:

[code]

Throws an error:
[code]

package.json
[code]

[2016-08-08 22:51] w0nche0l opened #153 "Dev environment"
Can you specify somewhere that should be only enabled for your test environments in your .babelrc? It creates a very difficult to track down error in the react native packager.

[2016-08-09 11:57] rainydio commented on #153
https://babeljs.io/docs/usage/babelrc/ env option

[2016-08-10 07:09] speedskater commented on #150
@lparry thanks for reporting the issue can you please provide a small sample PR ?

[2016-08-10 07:10] speedskater commented on #152
@rainydio Thanks for providing the sample. I will try to have a look at it ASAP

[2016-08-10 07:11] speedskater commented on #153
@rainydio thanks for providing an answer.
@w0nche0l Does the answer of @rainydio did solve your issue?

[2016-08-11 19:27] 5punk opened #154 "Error: `ReferenceError: _typeof is not defined`"
I recently started seeing this error with babel-plugin-rewire.
If I use previous versions of babel-plugin-rewire I get the error: `Error: The (rewire) Babel 5 plugin is being run with Babel 6.`

So, kinda stuck. Please help.

My package.json
[code]

I keep getting the error:
`/Users/axe/test-app:4786
	var _typeOfOriginalExport = typeof _DefaultExportValue === 'undefined' ? 'undefined' : _typeof(_D

[2016-08-12 16:59] jseminck opened #155 "Error when exported function contains other functions."
Hello,

babel-rewire-plugin mocking fails when the exported function contains another function definition. I will create a PR with a failing test case to investigate, but basically, when trying to mock out the variable `test` using the syntax `fileName.__set__({test: 2000});` for the following file, this error is returned:

Error
**TypeError: _get__(...).__set__ is not a function**

File:
[code]

[2016-08-13 06:28] jseminck opened #157 "Istanbul setup in README is out of date"
I was going through the README and saw there was a section covering setup with Istanbul. I think this section is now out of date since the release of `babel-plugin-istanbul`.

There was an issue where `babel-plugin-istanbul` and `babel-plugin-rewire` were not working together but this has been resolved (for me, at least) yesterday.

[2016-08-16 05:52] speedskater commented on #154
@5punk. Could you please use 1.0.0-rc-5 as this should solve your issue. Please let me know if this helps.

[2016-08-16 05:52] #154 closed

[2016-08-16 05:53] speedskater commented on #157
@jseminck Thanks for the feedback. Same as on #155 I hope i will get to it on upcoming monday.

[2016-08-16 05:54] #153 closed

[2016-08-16 07:08] speedskater commented on #152
@rainydio is working with
"syntax-async-functions" as well as "transform-regenerator" an option for you. As this seems to work https://github.com/speedskater/babel-plugin-rewire/tree/master/samples/issue152

[2016-08-16 10:47] rainydio commented on #152
Thanks, it works. Although it's still strange that rc5 doesn't with async-to-regenerator

[2016-08-17 15:28] speedskater commented on #152
@rainydio You are right. Therefore a pushed  new version rc6 which fixes the issues with transform-async-to-generator.

[2016-08-17 15:28] #152 closed

[2016-08-17 15:31] speedskater commented on #155
@jseminck thanks for opening this issue together with the PR describing the problem. It should be fixed in rc6. Could you please let me know if it works for you.

[2016-08-17 15:31] #155 closed

[2016-08-17 15:34] speedskater commented on #150
@lparry, @chrisblossom I think rc6 should fix this issue. Could you please try it and let me know if it works for you?

[2016-08-17 15:34] #150 closed

[2016-08-17 15:37] speedskater commented on #151
@mik01aj thanks for your feedback. As i have created some regressions in rc5 which required another rc6 ;) I will wait another 10 tens. If no showstopper occurs till then I will pump the version to 1.0.0

[2016-08-17 15:42] davidpadbury commented on #150
@speedskater had a similar issue and just tried rc6. Looks resolved. Thanks!

[2016-08-17 15:43] speedskater commented on #150
@davidpadbury thanks for the fast feedback.

[2016-08-17 21:06] abramz commented on #152
I got this error with rc5 but everything seems to be working with rc6. Thanks.

[2016-08-18 02:03] lparry commented on #150
@speedskater sorry I couldn't get back to you with a PR, RC6 did fix it for us, thanks!

[2016-08-18 06:26] screendriver opened #158 "Everything is undefined"
I am using Webpack and Babel for my project. For my unit tests I created a dedicated `webpack.test.config.js` that runs my unit tests with Mocha.

Unfortunately I don't get it. All rewire properties are undefined in my tests.

<details>
<summary>package.json</summary>
[code]
</details>

<details>
<summary>webpack.test.config.js</summary>
[code]
</details>

<details>
<summary>.babelrc</summary>
[co

[2016-08-18 08:12] screendriver commented on #44
Same here. Any solution for that?

[2016-08-18 08:18] speedskater commented on #44
@screendriver could you please provide a simple failing sample project?

[2016-08-18 08:21] speedskater commented on #158
@screendriver Providing a sample project on Github woulgbe perfect. But I think i won't be able to get to tackle the issue before monday.

[2016-08-18 08:53] screendriver commented on #44
I made a sample [project](https://github.com/screendriver/rewire-demo)

Just make a `npm install` and after that `npm test` and you should see what's happening. Thank you 👍

[2016-08-18 08:53] screendriver commented on #158
All right. See here for more information https://github.com/speedskater/babel-plugin-rewire/issues/44#issuecomment-240663243

[2016-08-19 00:40] chrisblossom commented on #150
@speedskater it fixed it for me too. Thank you!!

[2016-08-24 04:30] jseminck commented on #155
Hi. Thanks for the fast reply. Indeed this seems to work now, but we cannot upgrade due to compatibility issue with `babel-plugin-rewire', see issue https://github.com/speedskater/babel-plugin-rewire/issues/148

[2016-08-24 04:36] jseminck commented on #148
I have set up a test project that contains this plugin together with the latest `bebel-plugin-istanbul`: https://github.com/jseminck/karma-rewire-istanbul-example

The interesting thing is that after the latest changes from the istanbul plugin, we can make this work when using `rc4` of `babel-plugin-rewire`. However, upgrading to `rc5` causes an issue.

You can reproduce the issue by switching the

[2016-08-24 10:39] massimo-pacher-tw commented on #158
@screendriver Hey, I'm using a similar configuration but running the test through mocka-webpack.
I occurred in the same issue you have, but looking at the generated bundle, you can use the `__Rewire__` import (rename it via `as` for more clarity).

So try `__Rewire__('dummyFunc', () => {console.log('invoked')})`;

Hope it helps :)

[2016-08-26 05:36] jmeas commented on #151
Thanks for the update, @speedskater !

10 tens ❓

[2016-08-27 15:28] jseminck commented on #44
I have a sample working project here, which you could have a look at and see if it helps. It was created with another reason in mind, but perhaps it is useful: https://github.com/jseminck/karma-rewire-istanbul-example

[2016-08-29 07:26] speedskater commented on #146
@patapizza I just implemented the revert function feature, as used by rewire.js. It will be in the upcoming rc-7 which will be released today.

[2016-08-29 07:26] #146 closed

[2016-08-29 07:28] speedskater commented on #151
@jmeas ten days ;) . As we had a compatibility issue with rewire.js regarding the __set__ operation (please see issue #146. I will have to wait again, whether this will result in another regression. But we are coming closer to 1.0 :).

[2016-08-29 07:39] speedskater commented on #145
@lblinovs I had a look at your issue. And unfortunately I think your issue won't be fixed. The reason is that you try to rewire a function which is never used, hence it doese not make sense to rewire it. If you have a valid use case for this exact usecase please don't hesitate to comment on this bug and we can try to achieve another solution, or if we have overseen something, we will try to tackle

[2016-08-29 07:39] #145 closed

[2016-08-29 08:20] #139 closed

[2016-08-29 08:28] speedskater commented on #133
@Janekk it took a bit longer till I got back to this issue, but I created a test for your example, and I think it works now. Could you please let me know if this is indeed the case.

The sample can be found at https://github.com/speedskater/babel-plugin-rewire/tree/master/samples/issue133

[2016-08-29 08:28] #133 closed

[2016-08-29 08:39] speedskater commented on #148
@jseminck thanks for your effort accross chasing this issue among different projects.
I have just tried to find out, whether this issue could be tackeled in part of babel-plugin-rewire's code as well but haven't found something till now.
As soon as the linked PR regarding istanbul-lib-coverage is merged, I will try to run your sample project again.

[2016-08-29 09:00] speedskater commented on #44
@screendriver thank you for your sample project. I created two pull request for your sample project making it work. Could please let me know if this helps?
@screendriver, @jseminck a soon as your sample projects are working, Would it be okay for you if I would link your projects in the README of the project?

[2016-08-29 09:05] speedskater commented on #158
@screendriver thanks for the sample project. and @massimo-pacher-tw thanks for helping out.
@screendriver I think I found your issue.
In your sample project you tried to use the rewiring api on an es6 module which did not have anything to rewire (variables, functions, const variables, imports or classes defined at module top level and used somewhere in the same module).
I provided a PR for your sa

[2016-08-29 09:05] #158 closed

[2016-08-29 09:08] speedskater commented on #157
@jseminck Thanks again, I will wait till this issue is resolved https://github.com/speedskater/babel-plugin-rewire/issues/148 and will then update the README section and link to your sample project. Is this okay for you?

[2016-08-29 09:11] speedskater commented on #130
@all. Sorry the delay on this issue. and thanks @jmarceli for helping out. Hence, I will close this issue for now. @wangpin34, @frederikb @apedyashev If the comment from @jmarceli did not work for you please do not hesitate to reopen this bug and provide a detailed example of your issues.

[2016-08-29 09:11] #130 closed

[2016-08-29 09:54] jseminck commented on #157
Hey, sure yes. My project should work as is now (as long as the version is fixed to `rc4` at least). Did you have any problems?

I'm not entirely sure those last PRs to istanbul-lib-coverage etc... should make it work with `rc5` and `rc6`, but we can see after they get merged. :)

[2016-08-30 20:25] speedskater commented on #157
@jseminck You are right. I just tried your test project with istanbul-lib-coverage@1.0.0 and stanbul-lib-instrument@1.1.1 and the same problem occurred as before. Then I started over and switched the plugin order in babelrc to "plugins": [ "istanbul", "rewire" ] and npm test worked fine.  I think this order makes more sense, as it adds the istanbul instrumentations before the rewiring and hence sh

[2016-08-31 05:32] jseminck commented on #157
Aha, good thinking. I'll try it out today and see how it affects things. That would be pretty good if that fixed the remaining issue! :)

[2016-09-05 06:39] screendriver commented on #44
@speedskater thank you. It seems to work. But how can I rewire the whole function instead extracting the return value to a variable? For example if I have a function that returns internal state or something? If I remove the `variable` in my sample project the `Rewire` object is getting undefined.

[2016-09-12 06:47] speedskater commented on #44
@screendriver you can mock a complete function as long as it represents a dependency in the module (in this context a dependency is anything defined at module scope which is used seomewhere in the module e.g. variable, class, function, import..)
If you never use the function imho the function itself doesn't make sense.

[2016-09-12 12:06] Coobaha commented on #151
@speedskater rc7 fails for me with
[code]

[code]

[2016-09-13 22:10] natalzia-paperless commented on #127
Do we have any timeline on when this change will make it into the next stable release?

[2016-09-19 10:36] yvele opened #160 "Should RC (release candidate) version be published to NPM with a specific tag?"
The **latest** `babel-plugin-rewire` is a **RC** version : `1.0.0-rc-7`.

Release candidates (and beta) versions should be published to NPM with a specific [tag](https://docs.npmjs.com/cli/dist-tag) : prerelease for example. Wich makes `npm install` only install the `latest`stable release.

https://docs.npmjs.com/cli/dist-tag
https://docs.npmjs.com/cli/version

----

By the way, `0.1.22` is the la

[2016-09-19 10:45] yvele commented on #133
@speedskater @Janekk  Should this issue be re-opened?  I get the exact same error with `1.0.0-rc-7`

[code]

[2016-09-20 07:33] speedskater commented on #133
@Janekk could you please open a new issue with a minimal sample reproducing your error?

[2016-09-20 07:38] speedskater commented on #160
@yvele you are right this is not correct version schema. And i will switch to semantic versioning ASAP, but I cannot give you a timeline. The 0.1.22 is only stable if you consider babel 5. In case of babel 6 use rc-7. Regarding your issue, Please create a minimal sample reproducing your issue and open a new issue.

[2016-09-20 08:17] speedskater commented on #151
@Coobaha thanks for providing the issue description. It is fixed and will be included in the next version. For future issue it would be great if you could create separate issues.

[2016-09-20 08:53] speedskater commented on #157
Istanbul workflow is up to date now.

[2016-09-20 08:53] #157 closed

[2016-09-20 08:55] speedskater commented on #148
As the issue can be resolved by using the correct plugin order, I will close this issue.

[2016-09-20 08:55] #148 closed

[2016-09-20 08:58] speedskater commented on #151
It took quite a long time. But i just pumped version number to 1.0.0. Any further issues will be resolved according to semver versioning. Sorry for all the inconvenience.

[2016-09-20 08:58] #151 closed

[2016-09-20 08:59] speedskater commented on #160
It took quite a long time. But i just pumped version number to 1.0.0. Any further issues will be resolved according to semver versioning. And beta versions will be tagged with prereleases in the future.

[2016-09-20 08:59] #160 closed

[2016-09-20 10:46] yvele commented on #160
@speedskater Good news!

[2016-09-20 11:10] yvele commented on #160
By the way @speedskater I think you should also make a Github releases (git tags) for each new.. release.

The Github release page can be used as a changelog (you can add md release notes)

https://github.com/speedskater/babel-plugin-rewire/releases

[2016-09-20 15:22] jmeas commented on #151
Thanks @speedskater ! This is great to hear :)

[2016-09-21 14:37] ParAnton commented on #42
To make it work I have in my .babelrc file
` "env": {
    "test":{
        "plugins": ["babel-plugin-rewire"]
    }
  }`
and when I run my test I have to tell babel to use the test by setting
`BABEL_ENV=test` in my npm cmd before the mocha command

[2016-09-21 16:50] dtothefp opened #161 "Rewire Parent Class"
Doesn't seem possible to do:

[code]

then rewire
[code]

Am I missing something or is this just not a use case for Rewire?

[2016-09-24 00:14] machineghost opened #162 "Couldn't find preset (despite having npm install-ed rewire)"
I am trying to use babel-plugin-rewire for the first time, but I'm having some difficulty.  I have installed it and Babel (via `npm install --save-dev babel-core babel-plugin-rewire`), and I've added it to my `.babelrc` file:

    "presets": ["es2015", "react", "rewire"]

and to my Webpack config too, just for good measure:

    loaders: 'babel?plugins=rewire'

Then, in my test I have the followin

[2016-09-26 11:19] yvele opened #163 "TypeError: Cannot assign to read only property '__get__' of object '#<Object>'"
# Problem

I get the following error using `babel-plugin-rewire@1.0.0` and `node@6.3.0`

[code]

Related to https://github.com/speedskater/babel-plugin-rewire/issues/133 (which is closed)
# Source code

MyClass.js

[code]

.babelrc (`babel-cli@6.14.0`)

[code]
# Behaviour

Actually, rewire exports are made **after** default export :

[code]

Rewire exports should be **before** default export :

[c

[2016-09-26 11:19] yvele commented on #133
@Janekk  I opened a new issue https://github.com/speedskater/babel-plugin-rewire/issues/163 with a minimal sample

[2016-09-27 12:33] alex-barberi commented on #78
I'm getting exactly the same generated code as @tungv above.

I'm getting this error:

`Cannot` read property 'defineProperty' of undefined`

The error shows up here:

`Object.defineProperty(exports, "__esModule", {
  value: true
});`

[2016-09-29 08:50] yvele opened #164 "TypeError: Property body[8] of Program expected node to be of a type ["Statement"] but instead got "Noop""
Another error.

[code]

Using :

[code]

This will be my last error, I'm moving back to [rewire](https://github.com/jhnns/rewire). This plugin drove me nuts :scream:. And I don't think a special transpillation (for testing) is a good idea anyway. Lot of overhead with a test build, a production build..

Thank you @speedskater for the plugin.. interesting, but well..  :bowtie:

[2016-10-03 14:47] jrans commented on #162
@machineghost looks like you've put rewire in as a preset rather than a plugin in your .babelrc file

[2016-10-03 19:02] tchock commented on #109
I still got this error in 1.0 doing something like this:

PushQueue.js
[code]

PushQueue.spec.js
[code]

As @mmahalwy said: `__Rewire__` and `__ResetDependency__` are undefined.

When I also import the `__RewireAPI__` from the PushQueue.js file I can call these functions there but it doesn't change the import when calling a function that uses the PushQueueItem.

Is there some update about this iss

[2016-10-03 23:45] machineghost commented on #162
Sadly this is not the first time I've made that particular bone-headed mistake ... thanks!

[2016-10-03 23:45] #162 closed

[2016-10-05 19:54] patapizza commented on #146
Cool, thanks!

[2016-10-09 23:34] queicherius opened #165 "HTML error when using default function parameters"
[code]

---

- The CLI command runs through without error
- The error message is present in the HTML output (see @BenoitAverty comment [here](https://github.com/istanbuljs/babel-plugin-istanbul/issues/22#issuecomment-240313220))
- This error only seems to happen when you are using the default function parameters from ES2015 and comparing something with `if` afterwards. When using one of the two, i

[2016-10-09 23:54] queicherius commented on #165
I committed [this pull request](istanbuljs/istanbul-reports#11), but it would be better to figure out what generates the issue instead of patching it in the end result.

[2016-10-10 13:00] speedskater commented on #161
@dtothefp Sorry for the late reply. Unfortunately this is not a case for babel-plugin-rewire.

The reason is that Parent is already bound to the imported class when Child is declared. If you want to rewire the superclass you have to export a factory function.

[2016-10-10 13:00] #161 closed

[2016-10-10 13:11] speedskater commented on #163
@yvele thanks for providing the sample. I have added a sample (https://github.com/speedskater/babel-plugin-rewire/tree/master/samples/issue163) for your issue, but was not able to reproduce your issue. Could you please have a look at the sample and let me know whether it runs on your system?

[2016-10-10 13:32] speedskater commented on #164
@yvele thanks for reporting all the issues and sorry that the plugin is not working in your environment.
I added a fixture to the test suite containing the code of FileProvider.js which caused trouble for you. In the test case, the code could be transpiled without any error. Therefore I will close this issue. If you come back to using this plugin and still have this issue please provide a small sa